<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-非遗中心-传承人-传承人列表</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/intangibleheritage/mingluliebiao.css" rel="stylesheet">
<!-- core public JavaScript -->
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
<script src="../../assets/js/train/teach.js"></script>
<script src="../../assets/js/public/public.js"></script>
<!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
<! [endif]]-->
</head>
<body>
<!--公共主头部开始--> 
<div id="header-sm">
	<div class="header-nav-top-bg">
    	<div class="header-nav">
        	<ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li class="active"><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
    	<div class="header-nav">
        	<div class="logo-small">
            	<a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="feiyizhongxin.html">非遗首页</a></li>
                <li><a href="feiyigonggaoliebiao.html">最新公告</a></li>
                <li><a href="feiyidongtailiebiao.html">新闻动态</a></li>
                <li><a href="mingluliebiao.html">名录项目</a></li>
                <li class="active"><a href="chuanchengren.html">传承人</a></li>
                <li><a href="falvwenjianliebiao.html">法律文件</a></li>
                <li><a href="shenbaozhinanliebiao.html">申报指南</a></li>
                <li class="last"><a href="javascript:void(0)">非遗资源库</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
  <div class="main-info-container">
    <div class="categoryChange">
        <div class="row clearfix">
            <div class="title">区域</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">广州</a></span>
                <span class="item"><a href="javascript:void(0)">深圳</a></span>
                <span class="item"><a href="javascript:void(0)">广东</a></span>
                <span class="item"><a href="javascript:void(0)">珠海</a></span>
                <span class="item"><a href="javascript:void(0)">汕头</a></span>
                <span class="item"><a href="javascript:void(0)">佛山</a></span>
                <span class="item"><a href="javascript:void(0)">韶关</a></span>
                <span class="item"><a href="javascript:void(0)">河源</a></span>
                <span class="item"><a href="javascript:void(0)">梅州</a></span>
                <span class="item"><a href="javascript:void(0)">惠州</a></span>
                <span class="item"><a href="javascript:void(0)">汕尾</a></span>
                <span class="item"><a href="javascript:void(0)">中山</a></span>
                <span class="item"><a href="javascript:void(0)">江门</a></span>
                <span class="item"><a href="javascript:void(0)">阳江</a></span>
                <span class="item"><a href="javascript:void(0)">湛江</a></span>
                <span class="item"><a href="javascript:void(0)">茂名</a></span>
                <span class="item"><a href="javascript:void(0)">肇庆</a></span>
                <span class="item"><a href="javascript:void(0)">清远</a></span>
                <span class="item"><a href="javascript:void(0)">潮州</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">级别</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">人类非物质文化遗产</a></span>
                <span class="item"><a href="javascript:void(0)">国家级</a></span>
                <span class="item"><a href="javascript:void(0)">省级</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">批次</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">第一批</a></span>
                <span class="item"><a href="javascript:void(0)">第二批</a></span>
                <span class="item"><a href="javascript:void(0)">第三批</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">类别</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">民间文学</a></span>
                <span class="item"><a href="javascript:void(0)">传统音乐</a></span>
                <span class="item"><a href="javascript:void(0)">传统舞蹈</a></span>
                <span class="item"><a href="javascript:void(0)">传统戏剧</a></span>
                <span class="item"><a href="javascript:void(0)">曲艺</a></span>
                <span class="item"><a href="javascript:void(0)">体育、游艺与杂技</a></span>
                <span class="item"><a href="javascript:void(0)">传统美术</a></span>
                <span class="item"><a href="javascript:void(0)">传统技艺</a></span>
                <span class="item"><a href="javascript:void(0)">民俗</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title"></div>
            <div class="adrList">
                <div class="searchCont">
                    <input placeholder="搜点什么...">
                    <button type="submit"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="teacherList">
    	<div class="public-no-message"></div>
    	<ul>
        	<li>
            	<div class="img">
                	<a href="chuanchengrenxiangqing.html"><img src="../../assets/img/img_demo/teacher1.jpg" width="136" height="136"></a>
                </div>
                <div class="info">
                	<a href="chuanchengrenxiangqing.html">
                	<h2>吴金喜</h2>
                    <p>
                        项目名称 :<span>沙田民歌</span>
                    </p>
                    <p>
                    	简介 :<span>1944年生。当地水上居民后代，自小随父辈学唱沙田民歌，在继承传统沙田民歌基础上，突破清唱形式，发展出民歌说
集沙田民歌2000余首，并整理出版《珠海沙田民歌》一书；近年来，广泛深入社区、校园等传授沙田民歌、培养民歌手，促进
了沙田民歌的传承与传播。</span>
                    </p>
                    </a>
                    <div class="arrow"></div>
                </div>
            </li>
            <li>
            	<div class="img">
                	<a href="chuanchengrenxiangqing.html"><img src="../../assets/img/img_demo/teacher2.jpg" width="136" height="136"></a>
                </div>
                <div class="info">
                	<a href="chuanchengrenxiangqing.html">
                	<h2>章小泽</h2>
                    <p>
                        项目名称 :<span>潮州音乐</span>
                    </p>
                    <p>
                    	简介 :<span>自小酷爱潮州大锣鼓，曾随揭阳榕江潮剧团范锦和先生学习司鼓，后拜林运喜、陈美松等老先生为师，深得大锣鼓表演真传，
在继承传统基础上，吸收、借鉴北派锣鼓演奏技巧，其司鼓技艺的动作大、花样多、气派足，粗中带细、刚柔并济，具有十足
的表现力。数十年来，坚持潮州音乐创作，作品有潮州大锣鼓、潮语歌曲作品各十余首；曾执教并辅导揭阳当地大锣鼓队伍数
十支，培训学员遍及城乡，促进了潮州音乐的传承、传播。</span>
                    </p>
                    </a>
                    <div class="arrow"></div>
                </div>
            </li>
            <li>
            	<div class="img">
                	<a href="chuanchengrenxiangqing.html"><img src="../../assets/img/img_demo/teacher3.jpg" width="136" height="136"></a>
                </div>
                <div class="info">
                	<a href="chuanchengrenxiangqing.html">
                	<h2>陈暹文</h2>
                    <p>
                        项目名称 :<span>国画水彩</span>
                    </p>
                    <p>
                    	简介 :<span>自小酷爱潮州大锣鼓，曾随揭阳榕江潮剧团范锦和先生学习司鼓，后拜林运喜、陈美松等老先生为师，深得大锣鼓表演真传，
在继承传统基础上，吸收、借鉴北派锣鼓演奏技巧，其司鼓技艺的动作大、花样多、气派足，粗中带细、刚柔并济，具有十足
的表现力。数十年来，坚持潮州音乐创作，作品有潮州大锣鼓、潮语歌曲作品各十余首；曾执教并辅导揭阳当地大锣鼓队伍数
十支，培训学员遍及城乡，促进了潮州音乐的传承、传播。</span>
                    </p>
                    </a>
                    <div class="arrow"></div>
                </div>
            </li>
        </ul>
    </div>
  </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>