<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/train/noticeInfo.css" rel="stylesheet">
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
<script src="../../assets/js/public/public.js"></script>
<!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
<! [endif]]-->
<title>广东省数字文化馆-非遗中心-法律文件-文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知</title>
</head>
<body>
<!--公共主头部开始--> 
<div id="header-sm">
	<div class="header-nav-top-bg">
    	<div class="header-nav">
        	<ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li class="active"><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
    	<div class="header-nav">
        	<div class="logo-small">
            	<a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="feiyizhongxin.html">非遗首页</a></li>
                <li><a href="feiyigonggaoliebiao.html">最新公告</a></li>
                <li><a href="feiyidongtailiebiao.html">新闻动态</a></li>
                <li><a href="mingluliebiao.html">名录项目</a></li>
                <li><a href="chuanchengren.html">传承人</a></li>
                <li class="active"><a href="falvwenjianliebiao.html">法律文件</a></li>
                <li><a href="shenbaozhinanliebiao.html">申报指南</a></li>
                <li class="last"><a href="javascript:void(0)">非遗资源库</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--面包屑开始-->
<div class="public-crumbs">
    <span><a href="../index.html">首页</a></span><span>></span><span><a href="feiyizhongxin.html">非遗中心</a></span><span>></span><span><a href="falvwenjianliebiao.html">法律文件</a></span><span>></span><span>关于规范志愿服务记录证明工作的指导意见</span>
</div>
<!--面包屑结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
  <div class="main-info-container clearfix">
    <div class="public-left-main">
    	<div class="noticeInfo-main">
        	<h1>文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知</h1>
            <div class="otherInfo">
            	<span class="adr">来源 :<span>腾讯</span></span>
            	<span class="key">关键字 :<span>文化馆</span><span>广州</span></span>
            	<span class="time">时间 :<span>2016.10.20</span></span>
            </div>
            <div class="info-main">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近年来，按照党中央、国务院的要求，文化部和地方各级文化行政部门共同扎实推进非物质文化遗产保护工作，取得了显著的
                进展，初步构建起了符合我国国情的非物质文化遗产保护工作体系。《中华人民共和国非物质文化遗产法》自2011年6月1日起正
                式施行，标志着我国非物质文化遗产保护工作上升到了依法保护、科学保护的新阶段。<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2011年5月底，国务院公布了第三批国家级非物质文化遗产名录项目191项，扩展项目164项。加上此前公布的两批，国家 级
                非物质文化遗产名录项目共1219项。为进一步加强国家级非物质文化遗产代表性项目（以下简称“国家级代表性项目”）的保 护
                管理工作，现就有关事项通知如下：<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、认真履行职责，切实将国家级代表性项目保护工作落到实处<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各级文化行政部门和国家级代表性项目申报地区（单位）、保护单位、代表性传承人，要切实按照《中华人民共和国非物质文
                化遗产法》“保护非物质文化遗产，应当注重其真实性、整体性和传承性”的要求，认真履行各自职责，采取有效措施，对国家级
                代表性项目进行全面、系统、科学的保护。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）制定保护规划<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在申报国家级代表性项目五年保护计划的基础上，明确保护目标、保护方式、保护措施，结合每个项目的特点与实际情况，制
                定每个项目的保护规划和年度实施方案，增强针对性和可操作性。按照保护规划和实施方案，对保护措施逐项予以落实。
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二）加强资料保存与研究<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在前期调查的基础上，对国家级代表性项目及其代表性传承人进行文字、图片、影像记录，征集并妥善保管相关珍贵实物和资
                料，建立档案和数据库。加强对国家级代表性项目的深入调查、研究，有计划地出版相关成果。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（三）完善传承机制<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加强国家级代表性项目的代表性传承人的保护和传承机制建设。努力为代表性传承人开展传承活动创造条件 ，提供必要的传承
                、展示场所，经费资助和宣传展示机会等，建立对学艺者的助学、奖学激励机制。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（四）开展教育传播活动<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与教育部门密切合作，建立非物质文化遗产教育机制，在学校、社会广泛开展国家级代表性项目教育宣传活动，促进青少年 和
                社会公众积极参与保护工作。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（五）突出整体性保护<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注重保护国家级代表性项目的珍贵实物、场所、原材料等及其所依存的自然环境和人文环境，对项目实施系统性、整体性保护。<br>
            </div>
            <div class="next-notice">
            	<a href="#">下一篇<span>广东省文化馆中心</span></a>
            </div>
<div class="public-share">
                <span class="btn qq"><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?" target="_blank"></a></span>
                <span class="btn weixin"><a href="javascript:void(0)" target="_blank"></a></span>
				<span class="btn weibo"><a href="javascript:void(0)" target="_blank"></a></span>
                <span class="btn dianzan">
                	<em>129</em>
                	<a href="javascript:void(0)" target="_blank">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="public-right-main">
    	<div class="public-other-notice">
        	<h2>相关文件</h2>
            <div class="public-no-message"></div>
            <ul>
            	<li>
                    <a href="#">国家非物质文化遗产保护专项资金管理</a>
                    <p class="time">2015-11-20</p>
                </li>
				<li>
                    <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                    <p class="time">2015-11-20</p>
                </li>
				<li>
                    <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                    <p class="time">2015-11-20</p>
                </li>
				<li class="last">
                    <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                    <p class="time">2015-11-20</p>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>