<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>广东省数字文化馆</title>
    <link href="../../assets/css/public/reset.css" rel="stylesheet">
    <link href="../../assets/css/intangibleheritage/mingluliebiao.css" rel="stylesheet">
    <script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/plugins/roll/jquery.sly.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/intangibleheritage/feiyizhongxin.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <script>
        $(document).ready(function (e) {
            $('.module2-content').sly({
                itemNav: "smart",
                easing: "easeOutExpo",
                horizontal: 1,
                touchDragging: 1,
                dragContent: 1,
                scrollBy: 1,
                scrollBar: ".scrollbar",
                cycleBy: 'items',
                cycleInterval: 1000,
                speed: 400,
            })
        })
    </script>
    <!--[if lt IE 9] >
        <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="../museum/museum.html">馆务公开</a></li>
                <li><a href="../information/notice.html">资讯动态</a></li>
                <li><a href="../activity/activity.html">文化活动</a></li>
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li>
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
                <li><a href="../science/science.html">数字展馆</a></li>
                <li class="active"><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li>
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li>
                <li><a href="../union/union.html">文化馆联盟</a></li>
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
                <span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
</div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small"><a href="#"><img src="../../assets/img/public/logoSmall.png"></a></div>
            <ul>
                <li class="active"><a href="feiyizhongxin.html">非遗首页</a></li>
                <li><a href="feiyigonggaoliebiao.html">最新公告</a></li>
                <li><a href="feiyidongtailiebiao.html">新闻动态</a></li>
                <li><a href="mingluliebiao.html">名录项目</a></li>
                <li><a href="chuanchengren.html">传承人</a></li>
                <li><a href="falvwenjianliebiao.html">法律文件</a></li>
                <li><a href="shenbaozhinanliebiao.html">申报指南</a></li>
                <li class="last"><a href="javascript:void(0)">非遗资源库</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--广告开始-->
<div class="public_ad"
     style="background:url(../../assets/img/intangibleheritage/feiyibanner.jpg) no-repeat 50% 50%;"></div>
<!--广告结束-->
<!--主体开始-->
<div class="main-info-bg main-info-bgColorW">
    <div class="main-info-container main-info-title">
        <center>
            <h2><span class="line-l"></span><span class="tt">最新动态</span><span class="line-r"></span></h2>
        </center>
        <div class="news-cont clearfix">
            <div class="img">
                <ul class="basic">
                    <li>
                        <div class="mask">
                            <a href="#">2016年度中国歌剧舞剧的院舞1</a>
                        </div>
                        <a href="#"><img src="../../assets/img/img_demo/activityindex1.jpg"></a>
                    </li>
                    <li>
                        <div class="mask">
                            <a href="#">2016年度中国歌剧舞剧的院舞2</a>
                        </div>
                        <a href="#"><img src="../../assets/img/img_demo/activityindex1.jpg"></a>
                    </li>
                </ul>
                <div class="btn-top btn-top-prev"></div>
                <div class="btn-top btn-top-next"></div>
            </div>
            <div class="newsGroups">
                <ul class="nav tab_list clearfix">
                    <li class="active">最新公告</li>
                    <li>新闻动态</li>
                </ul>
                <div class="tab_content newsList active">
                    <ul>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审111</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyigonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                    </ul>
                    <div class="more"><a href="feiyigonggaoliebiao.html" class="public-more">MORE</a></div>
                </div>
                <div class="tab_content newsList">
                    <ul>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审222</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                        <li><i></i><a href="feiyidongtaixiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><em>2016-10-21</em>
                        </li>
                    </ul>
                    <div class="more"><a href="feiyidongtailiebiao.html" class="public-more">MORE</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-info-bg">
    <div class="main-info-container main-info-title">
        <center>
            <h2><span class="line-l"></span><span class="tt">名录项目</span><span class="line-r"></span></h2>
        </center>
        <div class="label clearfix">
            <ul class="clearfix">
                <li class="active">
                    <a href="javascript:void(0)"><span>民间文学</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统音乐</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统舞蹈</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统戏剧</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统美术</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统医药</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>传统技艺</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>体育、游艺与杂技</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>曲艺</span></a>
                    <i></i>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>民俗</span></a>
                </li>
            </ul>
        </div>
        <div class="module2-con clearfix">
            <div class="module2-content">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>澄海灯谜</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>泷州歌</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>雷州歌</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>澄海灯谜</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>澄海灯谜</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>泷州歌</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>雷州歌</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <div>
                                <img src="../../assets/img/img_demo/feiyiindex1.jpg" width="380" height="240">
                            </div>
                            <div class="detail">
                                <h2>澄海灯谜</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle"></div>
            </div>
        </div>
        <center>
            <div class="more"><a href="#" class="public-more">MORE</a></div>
        </center>
    </div>
</div>
<!--广告开始-->
<div class="public_ad"
     style="height:240px;background:url(../../assets/img/intangibleheritage/feiyiindex.jpg) no-repeat 50% 50%;"></div>
<!--广告结束-->
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
    <div class="public-footer clearfix">
        <div class="footer-sydw"></div>
        <div class="footer-nav-bar">
            <p class="nav"><span><a href="#">意见反馈</a><span>|</span></span> <span><a
                    href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a
                    href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室 服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn"
                                                                                  target="_blank">粤ICP备16019011号-1</a>
            </p>
            <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div>
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                    <img src="../../assets/img/public/code.png" width="100" height="100">
                    <i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>