<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-非遗中心-名录项目列表</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/intangibleheritage/mingluliebiao.css" rel="stylesheet">
<!-- core public JavaScript -->
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
<script src="../../assets/js/public/public.js"></script>
<script src="../../assets/js/intangibleheritage/mingluliebiao.js"></script>
<!--[if lt IE 9] >
<script src="../../assets/js/plugins/ie/IE9.js"></script>
<! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li class="active"><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small"> <a href="#"><img src="../../assets/img/public/logoSmall.png"></a> </div>
            <ul>
                <li><a href="feiyizhongxin.html">非遗首页</a></li>
                <li><a href="feiyigonggaoliebiao.html">最新公告</a></li>
                <li><a href="feiyidongtailiebiao.html">新闻动态</a></li>
                <li class="active"><a href="mingluliebiao.html">名录项目</a></li>
                <li><a href="chuanchengren.html">传承人</a></li>
                <li><a href="falvwenjianliebiao.html">法律文件</a></li>
                <li><a href="shenbaozhinanliebiao.html">申报指南</a></li>
                <li class="last"><a href="javascript:void(0)">非遗资源库</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div id="content">
    <div class="categoryChange">
        <div class="row clearfix">
            <div class="title">区域</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">广州</a></span>
                <span class="item"><a href="javascript:void(0)">深圳</a></span>
                <span class="item"><a href="javascript:void(0)">广东</a></span>
                <span class="item"><a href="javascript:void(0)">珠海</a></span>
                <span class="item"><a href="javascript:void(0)">汕头</a></span>
                <span class="item"><a href="javascript:void(0)">佛山</a></span>
                <span class="item"><a href="javascript:void(0)">韶关</a></span>
                <span class="item"><a href="javascript:void(0)">河源</a></span>
                <span class="item"><a href="javascript:void(0)">梅州</a></span>
                <span class="item"><a href="javascript:void(0)">惠州</a></span>
                <span class="item"><a href="javascript:void(0)">汕尾</a></span>
                <span class="item"><a href="javascript:void(0)">中山</a></span>
                <span class="item"><a href="javascript:void(0)">江门</a></span>
                <span class="item"><a href="javascript:void(0)">阳江</a></span>
                <span class="item"><a href="javascript:void(0)">湛江</a></span>
                <span class="item"><a href="javascript:void(0)">茂名</a></span>
                <span class="item"><a href="javascript:void(0)">肇庆</a></span>
                <span class="item"><a href="javascript:void(0)">清远</a></span>
                <span class="item"><a href="javascript:void(0)">潮州</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">级别</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">人类非物质文化遗产</a></span>
                <span class="item"><a href="javascript:void(0)">国家级</a></span>
                <span class="item"><a href="javascript:void(0)">省级</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">批次</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">第一批</a></span>
                <span class="item"><a href="javascript:void(0)">第二批</a></span>
                <span class="item"><a href="javascript:void(0)">第三批</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">类别</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">民间文学</a></span>
                <span class="item"><a href="javascript:void(0)">传统音乐</a></span>
                <span class="item"><a href="javascript:void(0)">传统舞蹈</a></span>
                <span class="item"><a href="javascript:void(0)">传统戏剧</a></span>
                <span class="item"><a href="javascript:void(0)">曲艺</a></span>
                <span class="item"><a href="javascript:void(0)">体育、游艺与杂技</a></span>
                <span class="item"><a href="javascript:void(0)">传统美术</a></span>
                <span class="item"><a href="javascript:void(0)">传统技艺</a></span>
                <span class="item"><a href="javascript:void(0)">民俗</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title"></div>
            <div class="adrList">
                <div class="searchCont">
                    <input placeholder="搜点什么...">
                    <button type="submit"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="active-list container">
        <div class="con">
        	<div class="public-no-message"></div>
            <ul class="clearfix">
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>萝岗香雪</h2>
                        <p>申报地区：<span>广州市萝岗区</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>何仙姑与挂绿的传说</h2>
                        <p>申报地区：<span>广州市增城市</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>望烟楼的传说</h2>
                        <p>申报地区：<span>深圳市宝安区</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>瑶族民歌</h2>
                        <p>申报地区：<span>韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>石塘月姐歌</h2>
                        <p>申报地区：<span>韶关市仁化县</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>大鹏山歌</h2>
                        <p>申报地区：<span>深圳市龙岗区</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>潮南英歌</h2>
                        <p>申报地区：<span>汕头市潮南区</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>神泉英歌</h2>
                        <p>申报地区：<span>揭阳市惠来县</span></p>
                    </div>
                </li>
                <li>
                    <a href="mingluxiangqing.html">
                        <div class="img">
                            <img src="../../assets/img/img_demo/activi-img1.jpg" width="380" height="240">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>六坊云龙舞</h2>
                        <p>申报地区：<span>中山市古镇镇</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>