/*---------------------------------------------------------------------
	* Filename:         venueList.css
	* Description:      venue
	* Version:          1.0.0 (2016-10-28)
	* Website:          hn.sun3d.com
	* Author:           JackyZeng (zrongs@vip.qq.com)
---------------------------------------------------------------------*/

.main {
    width: 1200px;
    margin: 0px auto;
}

.venue-ad {
    height: 250px;
    margin-bottom: 20px;
}

.venue-main {
    margin: 20px auto 20px auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.categoryChange {
    width: 1190px;
    margin: 40px auto;
    padding: 0 5px;
    -webkit-box-shadow: 0px 7px 5px #e2dede;
    -moz-box-shadow: 0px 7px 5px #e2dede;
    box-shadow: 0px 7px 5px #e2dede;
    background: #fff;
}

.categoryChange .row {
    padding: 15px 20px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.categoryChange .border-none {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.categoryChange .row .title {
    float: left;
    width: 70px;
    font-size: 16px;
    padding-top: 5px;
}

.categoryChange .row .adrList {
    width: 1050px;
    float: left;
}

.categoryChange .row .adrList1 {
    width: 700px;
    float: left;
}

.categoryChange .row .adrList .item a {
    color: #808080;
    font-size: 16px;
}

.categoryChange .row .adrList .active {
}

.categoryChange .row .adrList .active a, .categoryChange .type-row .categoryName.active a {
    color: #398554;
    font-weight: bold;
}

.categoryChange .row .adrList .item {
    padding: 0px 25px;
    margin-bottom: 15px;
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.categoryChange .row .searchCont {
    float: right;
    width: 260px;
    height: 30px;
    border: 1px #ddd solid;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 0px;
}

.categoryChange .row .searchCont input {
    height: 25px;
    line-height: 25px;
    border: 1px #fff solid;
    color: #808080;
    font-size: 14px;
    vertical-align: top;
    margin-left: 10px;
}

.categoryChange .row .searchCont button {
    height: 30px;
    width: 36px;
    background: url(../../img/activity/search.png) 40% 55% no-repeat;
    float: right;
}

.err-msg {
    text-align: center;
    padding: 200px 0px;
    line-height: 30px;
    font-size: 20px;
    color: #808080;
}

.err-msg i {
    height: 56px;
    width: 56px;
    background: url(../../../assets/img/public/no-show.png) no-repeat 50% 50%;
    display: inline-block
}

.err-msg p span {
    color: #f2a861
}

.activityList {
    float: right;
    height: 165px;
    width: 350px;
    padding-top: 25px;
    font-size: 13px;
}

.activityList a {
    color: #808080;
    font-size: 13px;
}

.activityList a:hover {
    color: #398554
}

.activityList p span {
    color: #f2a861;
    margin-left: 10px;
}

.act-msg {
    color: #808080;
}

.masterRow {
    height: 50px;
}

.masterRow ul {
    padding-left: 90px;
    border-bottom: 1px #e5e5e5 solid;
}

.masterRow ul li {
    float: left;
    padding: 0px 25px;
    line-height: 50px;
    margin-bottom: -1px;
}

.masterRow ul .active {
    border: 1px #e5e5e5 solid;
    border-bottom: 1px #fff solid;
    background-color: #fff;
    border-radius: 3px 3px 0;
    line-height: 48px;
    padding: 0px 24px;
    position: relative;
    z-index: 999;
}

.masterRow ul li a {
    color: #333;
    font-size: 16px;
}

.masterRow ul .active a {
    color: #398554;
}

DIV.green-black {
    margin-bottom: 50px;
}

.group {
    width: 1230px;
    margin-bottom: 80px;
}

.group li {
    width: 280px;
    background: #fff;
    float: left;
    margin: 0px 27px 30px 0;
    -webkit-box-shadow: 0px 7px 5px #e2dede;
    -moz-box-shadow: 0px 7px 5px #e2dede;
    box-shadow: 0px 7px 5px #e2dede;
}

.group li div.img {
    width: 280px;
    height: 210px;
    overflow: hidden;
    position: relative;
}

.group li div.img .mask {
    width: 280px;
    height: 210px;
    position: absolute;
    left: 0;
    top: 0;
    /*background: url(../../img/public/mask1.png) no-repeat 50% 50%;*/
    text-align: center;
    display: none;
}

.group li div.detail {
    padding: 10px 10px 5px;
}

.group li div.detail h2 {
    font-size: 18px;
    line-height: 28px;
    color: #333;
    margin: 0 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group li div.button {
    padding: 0 10px 10px;
}

.group li div.button > a {
    display: block;
    width: 140px;
    height: 35px;
    color: #fff;
    background: #398554;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    margin: 0 auto;
}

.group li div.button > .likes, .active-list .con ul li div.button > .collection {
    float: right;
    position: relative;
    line-height: 35px;
    margin: 0 5px;
    cursor: pointer;
}

.group li div.button > .likes span, .active-list .con ul li div.button > .collection span {
    color: #333;
    font-size: 12px;
    margin-left: 20px;
}

.group li div.detail p {
    font-size: 14px;
    color: #808080;
    margin: 0 0 0px 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group li div.detail p span.tt {
    float: left;
    width: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group li div.detail p span.desc {
    float: left;
    width: 218px;
    overflow: hidden;
    height:24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}