body{color: #333; background: #fff;}
#header{height: 30px;background: #333333; overflow:hidden;}
#header .main .gatalogMain .sysType{float: right;}
#header .main .gatalogMain .return{float: left;}
#header .main .gatalogMain .return a{color: #808080;font-size: 12px;line-height: 30px;}
#header .main .gatalogMain .return a:hover{color:#fff;}
#header .main .gatalogMain .sysType .h-line{width:1px; height:12px; margin:-2px 10px; background-color:#808080;display: inline-block;}
#header .main .gatalogMain .sysType a{color: #fff;font-size: 12px;line-height: 30px;}
i.kx-arrow{display: block; height: 13px; width: 13px; float: left; position: relative; margin: 10px 5px 0px 0px;}
i.kx-arrow-right em{width: 0; height: 0; border-color: transparent; position: absolute; border-width: 6px; border-style: dashed solid dashed dashed; border-right-color: #666; top: 0; right: 2px;}
i.kx-arrow-right span{width: 0; height: 0; border-color: transparent; position: absolute; border-width: 6px; border-style: dashed solid dashed dashed; top: 0; right: 0; border-right-color: #333;}
i.kx-arrow-left span{width: 0; height: 0; border-color: transparent; position: absolute; border-width: 8px; border-style: dashed dashed dashed solid; top: 0; left: 0; border-left-color: #fff;}
i.kx-arrow-left em{width: 0; height: 0; border-color: transparent; position: absolute; border-width: 8px; border-style: dashed dashed dashed solid; border-left-color: #808080; top: 0; left: 2px;}
.on{display: block!important;}
.special-main{width: 1200px;margin: 0px auto;padding-top: 150px;}
.special-main .banner{height:347px;background: url("../../../assets/img/activity/banner-bg.png") no-repeat;}
.special-main .banner h1{text-align: center;font-size: 50px; color: #333;margin-bottom: 90px;}
.special-main .banner p{text-align: left; font-size: 20px; color: #333; margin: 0 120px 150px 120px; text-indent: 2em;line-height: 1.7;height: 150px;overflow-y: auto;}
.public-crumbs{width:1200px; margin:20px auto; height:24px; line-height:24px; color:#333; font-size:14px; /*background:url(../../../assets/img/public/c.gif) no-repeat 0px 50%;*/ text-indent:24px;}
.public-crumbs span{padding-right:8px;}
.public-crumbs span a{color:#333;}
.public-crumbs span a:hover{text-decoration:underline;}

/*
 * create by Jacky Zeng
 * hn.creatoo.cn
 * qq:68069479
*/

.header .logo-login {width: 1200px;height:70px;margin: 0px auto;padding: 180px 0 400px;}
.header .logo-login .logo { text-align:left; height: 70px; line-height:50px; text-indent: 44px;
    font-weight:700; }
.header .logo-login .logo *{float:left;}
.header .logo-login .logo a{ font-size:36px;color:#333; text-indent: 0px;}
.header .logo-login .logo span {
    display: inline-block;
    background: url(../../../assets/img/fenguan/fglogo_bg.png);
    width: 160px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    margin-left: 20px;
    font-weight: normal;
    margin-top: 8px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header .logo-login .login{width: 40px;height: 40px;float: right;margin-top: 15px;}
.header .logo-login .login-on{height: 40px;line-height: 40px;float: right;margin-top: 15px;}
.header .logo-login .login-on span{color: #f08300;height: 40px;line-height: 40px;display: inline-block;font-size: 14px;padding-left: 5px;}
.header .logo-login .login-on a{font-size: 14px;color: #333;}
.header .logo-login .login-on a.tuichu {font-size: 14px;}
.header .logo-login .login-on a.tuichu:hover{color: #057ee1;}
.header .logo-login .login-on a i{background-color: #ff6745;
    border-radius: 50px;
    padding: 0px 5px;
    color: #fff;
    margin-left: 7px;
    margin-right: 5px;
    font-size: 10px;
    font-style: inherit;
}
.header .nav-con {height: 40px;background: #a0009e;width: 1200px;margin: 0 auto;}
.header .nav-con ul li {float: left;text-align: center;min-width: 120px;}
.header .nav-con ul li.active{background: #820080;}
.header .nav-con ul li a {color: #fff;font-weight: normal; font-size:16px; display: block;padding: 0 25px;height: 40px;line-height: 40px;}
.contents{width: 1200px;height: auto;margin: 0 auto 80px auto;}
.contents .banner {margin-top: 10px;}
.row {
    padding: 40px 0px 0 0px;
}
.row-list-title {
    position: relative;
}
.row-list-title .tt {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    color: #333;
}
.row-list-title .tt i {
    display: block;
    width: 94px;
    height: 15px;
    position: absolute;
    bottom: 0px;
}
.row-list-title .more {
    position: absolute;
    right: 0px;
    top: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    padding-left: 10px;
}
.row-list-title .more a{
    color: #666;
}
.row-list-title .more a:hover{
    color: #f08300;
}

.row-list-content{
    margin: 40px 0 20px 0;
}
.row-list-content ul li {
    width: 269px;
    float: left;
    margin-right: 14px;
}
.row-list-content ul li.last{
    margin-right: 0px;
}
.row-list-content ul li div.img {
    width: 269px;
    height: 182px;
    float: none;

}
.row-list-content ul li div.detail {

}
.row-list-content ul li div.detail h2{
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.row-list-content ul li div.detail h2:hover{
    color: #f08300;
}
.row-list-content ul li div.detail p{
    font-size: 14px;
    line-height: 24px;
    color: #999;
    max-height: 48px;
    overflow: hidden;
}
.row-list-content ul li div.detail span{
    display: inline-block;
    width: 124px;
    height: 24px;
    margin-top: 15px;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    background: url("../img/fenguan/time-bg.png") no-repeat;
}

.row-list-content div.img{
    float: left;
    margin-right: 40px;
}
.row-list-content div.rignt-detail{
    float: left;
    width: 680px;
}
.row-list-content div.rignt-detail h3{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.row-list-content div.rignt-detail h3:hover{
    color: #f08300;
}
.row-list-content div.rignt-detail p{
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}
.row-list-content div.rignt-detail div.phone{
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}
.row-list-content div.rignt-detail div.phone span{
    margin-right: 12px;
}
.row-list-content div.rignt-detail .venue-list{
    margin-top: 13px;
}
.row-list-content div.rignt-detail .venue-list ul li {
    float: left;
    width: 217px;
}
.row-list-content div.rignt-detail .venue-list ul li.last {
    margin-right: 0px;
}
.row-list-content div.rignt-detail .venue-list ul li div.img{
    width: 217px;
    height: 174px;
    margin-right: 15px;
}
.row-list-content div.rignt-detail .venue-list ul li div.img span{
    font-size: 14px;
    color: #999;
    display: block;
    text-align: center;
    line-height: 28px;
    background: #f9f9f9;
}
.row-list-content div.rignt-detail .venue-list ul li div.img span a{
    color: #666;
}
.row-list-content div.rignt-detail .venue-list ul li div.img span a:hover{
    color: #f08300;
}
.fenge{
    height: 13px;
    background: url("../img/fenguan/hr-bg.png");
    margin-top: 40px;
}
.row-title{
    padding: 0px 0 10px 0;
}
.row-title span {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: solid 2px #f08300;
}
.row-content {
    margin: 40px 0 0px 0;
    padding-bottom: 40px;
}
.row-content div.img {
    width: 540px;
    float: left;
    margin-right: 40px;
}
.row-content div.img div.text{
    padding: 10px 10px 15px 10px;
    background: #f9f9f9;
}
.row-content div.img div.text h4{
    font-size: 16px;
    color: #333;
    line-height: 40px;
}
.row-content div.img div.text h4:hover{
    color: #f08300;
}
.row-content div.img div.text p{
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.rignt-detail {
    width: 540px;
    float: left;
}
.rignt-detail .text .title{
    padding: 0px 0 10px 0;
}
.rignt-detail .text .title span{
    padding: 10px 0 9px 0;
    border-bottom: solid 2px #f08300;
    color:#333;
    font-size:14px;
}
.rignt-detail .text ul{
    margin: 10px 0;
}
.rignt-detail .text ul li {
    height: 30px;
}
.rignt-detail .text ul li a{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    display: block;
    float: left;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rignt-detail .text ul li a:hover{
    color: #f08300;
}
.rignt-detail .text ul li span{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    float: right;
}
.footer-main {
    background-color: #333;
}
.footer-main .copyright-info {
    position: relative;
    width: 1200px;
    margin: 0px auto;
    font-size: 14px;
    color: #ababab;
}
.footer-main .copyright-info .copyright{
    padding: 30px 0;
    text-align: center;
}
.footer-main .sydw {
    width: 72px;
    height: 64px;
    position: absolute;
    left: 0px;
    top: 13px;
}


.left-wrapper,.right-wrapper{
    width: 580px;
    float: left;
}
.right-wrapper{
    margin-left: 40px;
}
.page-wrapper{
    position: relative;
    border-bottom: dashed 1px #333;
}
.page-wrapper .title {
    background: url("../../img/fenguan/title-bg.png");
    width: 214px;
    height: 41px;
    line-height: 35px;
    text-indent: -25px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.page-wrapper .lookmore{
    position: absolute;
    right: 0px;
    bottom: -10px;
    color: #398554;
    display: block;
    background: #fff;
    padding: 0 10px;
}
.page-wrapper .lookmore:hover{
    color: #c85044;
}
.left-wrapper .list,.right-wrapper .list{
    margin-top: 30px;
    padding-bottom: 20px;
    height: 144px;
    overflow: hidden;

}
.left-wrapper .list p{
    font-size: 14px;
    line-height: 24px;
    color: #666;
    margin: 0;
    height: 144px;
    overflow: hidden;
}

.right-wrapper .list ul>li{
    position: relative;
    margin: 0 0 10px 0;
}
.right-wrapper .list ul>li i{
    display: block;
    position: absolute;
    left: 2px;
    top:6px;
    width: 6px;
    height: 6px;
    background-color: #333;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari å’Œ Chrome */
    -o-transform:rotate(45deg); /* Opera */
}
.right-wrapper .list ul>li p{
    margin: 0 0 0 15px;
    float: left;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-wrapper .list ul>li p a{
    color: #666;
}
.right-wrapper .list ul>li p a:hover{
    color: #398554;
}
.right-wrapper .list ul>li span {
    float: right;
    color: #666;
}
.wrapper-list{
    margin: 20px 20px 0 20px;
}
.wrapper-list ul li{
    width: 275px;
    height: 245px;
    float: left;

 }
.wrapper-list ul li+li{
    margin-left: 20px;
}
.wrapper-list ul li .list-title {
    margin-top: 15px;
}
.wrapper-list ul li .list-title span a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}
.wrapper-list ul li .list-title span a:hover{
    color: #398554;
}
.special-bg {
    position: relative;
}
.fg-footer {
    height: 150px;
    width: 100%;
    position: relative;
}
.fg-footer>p{
    text-align: center;
    margin: 0px;
    padding-top: 100px;
}
.fg-footer >img {
    position: absolute;
    top:-280px;
    left: 0px;
}