.on{display: block!important;}
.bg-color{background: #fff;}
.news-cont .img{float:left; width:480px; height:370px; overflow: hidden;position: relative;}
.news-cont .img ul li{position:relative;height:370px; overflow:hidden;width: 480px;float: left;}
.news-cont .img img{width: 480px;height: 370px;overflow: hidden;}
.news-cont .img .mask a{color: #fff;display: block;}
.news-cont .img .mask a:hover{text-decoration: underline;}
.news-cont .img .mask{height: 40px;width: 100%;position: absolute;left: 0px;bottom: 0px;line-height: 40px;text-indent: 20px;background: url(../../../assets/img/public/b.png) repeat;}
.news-cont .newsGroups{float:right; width:700px; height:445px;}
.news-cont .newsGroups .tab{line-height: 40px;height: 40px;border-bottom: #ececec solid 1px;}
.news-cont .newsGroups .tab ul li{cursor:pointer;float: left;font-size: 16px;color: #333;line-height: 40px;padding: 0px 20px;text-align: center;height: 40px;}
.news-cont .newsGroups .tab ul li.active{border-bottom: solid 1px #398554;color: #398554;}
.news-cont .newsGroups .detail{display: none;}
.news-cont .newsGroups .detail ul li{text-align: left;position: relative;text-indent: 20px;border-bottom: dashed 1px #ececec;height: 54px;line-height: 54px;padding: 0 10px 0 20px;}
.news-cont .newsGroups .detail ul li a{font-size: 14px;color: #333;margin-left: 5px;max-width: 530px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block; float: left;}
.news-cont .newsGroups .detail ul li span{float: right;font-size: 14px;color: #808080;}
.news-cont .newsGroups .detail ul li i{display: block;position: absolute;width: 14px;height: 14px;background: url(../../../assets/img/activity/li-logo.png);top: 21px;}
.news-cont .newsGroups .detail ul li:hover i{background: url(../../../assets/img/activity/li-logo.png) -15px 0px;}
.news-cont .newsGroups .detail ul li:hover a{color: #398554;}
.news-cont .newsGroups .more{height: 32px; margin-top: 40px;}
.news-cont .newsGroups .more a{margin: 0 auto;}
/*品牌活动*/
.event-con .event-left{width: 360px;height: 480px;float: left;background: #398554;}
.event-con .event-left h2{text-align: center;font-size: 18px;color: #fff;margin: 65px 0 50px 0;display: block;}
.event-con .event-left ul{padding: 0 20px;}
.event-con .event-left ul li{font-size: 14px;color: #fff;margin: 0px 0 20px 0;text-align: left;}
.event-con .event-right{width: 840px;height: 480px;float: right;background: url(../../../assets/img/activity/event-right-bg.png) no-repeat;}
.event-con .event-right ul{overflow: hidden;}
.event-con .event-right ul li{width: 227px;height: 330px;float: left;margin-right: 40px;}
.event-con .event-right ul li div.img{width: 227px;height: 280px;}
.event-con .event-right ul li div.detail{width: 227px;height: 50px;line-height: 50px;color: #808080;text-align: center;}
.event-con .event-right .event-right-list{width: 760px;height: 330px;margin-left: 40px;margin-top: 100px;overflow: hidden;}
.event-con .event-right .arrow{width: 80px;height: 20px;margin: 0 auto;}
.event-con .event-right .arrow .arrow-left{float: left;cursor: pointer;}
.event-con .event-right .arrow .arrow-right{float: right;cursor: pointer;}
.event-con .event-right .arrow .arrow-left i{overflow:hidden;display: block;width: 20px;height: 20px;background: url(../../../assets/img/activity/arrow.png) 0px 0px;}
.event-con .event-right .arrow .arrow-left:hover i{background: url(../../../assets/img/activity/arrow.png) 0px -21px;}
.event-con .event-right .arrow .arrow-right i{overflow:hidden;display: block;width: 20px;height: 20px;background: url(../../../assets/img/activity/arrow.png) -22px 0px;}
.event-con .event-right .arrow .arrow-right:hover i{background: url(../../../assets/img/activity/arrow.png) -22px -21px;}
/*文化活动*/
.cul-cont div.label{margin-top: -50px;}
.cul-cont div.label ul{text-align: center;}
.cul-cont div.label ul li{display: inline;margin: 0 30px;}
.cul-cont div.label ul li a{border-radius: 19px;font-size: 14px;border: solid 1px #fff;padding: 7px 35px;color: #808080;}
.cul-cont div.label ul li a:hover{border: solid 1px #398554;color: #398554;}
.cul-cont div.list-detail{margin-top: 50px;}
.cul-cont div.list-detail ul{width: 1260px;}
.cul-cont div.list-detail ul li{width: 360px;background: #f0f0f0;float: left;margin-right: 60px;}
.cul-cont div.list-detail ul li div.img{width: 360px;height: 225px;}
.cul-cont div.list-detail ul li div.detail{width: 360px;height: 128px;}
.cul-cont div.list-detail ul li div.detail>div{padding-top: 15px;font-size: 14px;color: #808080;text-align: center;}
/*风采展示*/
.fengcai{height: 605px;width: 1200px;margin-top: 15px;}
.fengcai .fengcai-row div.mask a{color: #fff;display: block;}
.fengcai .fengcai-row div.mask a:hover{text-decoration: underline;}
.fengcai .fengcai-row div.mask{display:none;text-align: center;height: 40px;width: 100%;position: absolute;left: 0px;bottom: 0px;line-height: 40px;text-indent: 20px;background: url(../../../assets/img/public/b.png) repeat;}
.fengcai .fengcai-row1{width: 400px;height: 605px;float: left;margin-right: 5px;}
.fengcai .fengcai-row .content{overflow: hidden;}
.fengcai .fengcai-row1 .content1{width: 400px;height: 360px;margin-bottom: 5px;position: relative;}
.fengcai .fengcai-row1 .content2{width: 400px;height: 240px;position: relative;}
.fengcai .fengcai-row2{width: 795px;height: 300px;float: left;margin-bottom: 5px;}
.fengcai .fengcai-row2 .content1{width: 471px;height: 300px;margin-right: 5px;float: left;position: relative;}
.fengcai .fengcai-row2 .content2{width: 319px;height: 300px;float: left;position: relative;}
.fengcai .fengcai-row3{width: 795px;height: 300px;float: left;}
.fengcai .fengcai-row3 .content1{width: 471px;height: 300px;float: left;position: relative;background: #398554;}
.fengcai .fengcai-row3 .content1 .infocon{height: 200px;padding-top: 100px;width: 471px;background-color: #398554;text-align: center;color: #fff;}
.fengcai .fengcai-row3 .content1 .infocon h3{font-size: 24px;color: #fff;margin: 0 0 25px 0;}
.fengcai .fengcai-row3 .content1 .infocon div.label a{font-size: 14px;color: #fff;line-height: 24px;margin-right: 10px;}
.fengcai .fengcai-row3 .content2{width: 319px;height: 300px;float: left;margin-right: 5px;position: relative;}
/*志愿服务*/
.zhiyuan{height: 360px;overflow: hidden;text-align: center;}
.zhiyuan .number{height: 140px;width: 1203px}
.zhiyuan .number .num{float: left;width: 400px;height: 140px;text-align: center;border-right: dashed 1px #fff;}
.zhiyuan .number .num span{font-size: 76px;color: #fff;margin-bottom: 10px;display: inline-block;}
.zhiyuan .number .num p{font-size: 18px;color: #fff;margin: 0;}
.zhiyuan .detail{margin-top: 70px;}
.zhiyuan .detail p{font-size: 16px;text-align: center;color: #fff;}
.zhiyuan span.enter{display: inline-block;height: 45px;padding: 0 50px;margin-top:30px;background: #398554;border-radius: 25px;font-size: 16px;color: #fff;line-height: 45px;}