<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-数字展馆-广东省第九届美术书法摄影作品联展（摄影金、银奖）-作品详情</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/science/scienceDesc.css" rel="stylesheet">
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
<script src="../../assets/js/plugins/zoomin/zoomin.js"></script>
<script src="../../assets/js/public/rong-dialog.js"></script>
<script src="../../assets/js/plugins/roll/jquery.sly.min.js" type="text/javascript"></script>
<script src="../../assets/js/science/scienceDesc.js"></script>
<script src="../../assets/js/public/public.js"></script>
<!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
<! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
  <div class="header-nav-top-bg">
    <div class="header-nav">
      <ul>
        <li><a href="../index.html">首页</a></li>
        <li><a href="../museum/museum.html">馆务公开</a></li>
        <li><a href="../information/notice.html">资讯动态</a></li>
        <li><a href="../activity/activity.html">文化活动</a></li>
        <li><a href="../field/fieldlist.html">场馆服务</a></li>
        <li><a href="../train/train.html">培训驿站</a></li>
        <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
        <li class="active"><a href="../science/science.html">数字展馆</a></li>
        <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li>
        <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li>
        <li><a href="../union/union.html">文化馆联盟</a></li>
      </ul>
      <div class="loginInfo none"> <span><a href="#">登录</a></span> <span><a href="#">注册</a></span> </div>
      <div class="loginIn"> <span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span> <span class="quit"><a href="javascript:void(0)">退出</a></span> </div>
    </div>
  </div>
</div>
<div id="header-fix">
  <div class="header-nav-bg">
    <div class="header-nav">
      <div class="logo-small"> <a href="#"><img src="../../assets/img/public/logoSmall.png"></a> </div>
      <ul>
        <li class="active"><a href="science.html">数字展厅</a></li>
        <li class="last"><a href="#">普通展厅</a></li>
      </ul>
    </div>
  </div>
</div>
<!--公共主头部结束--> 
<!--面包屑开始-->
<div class="public-crumbs">
    <span><a href="./../index.html">首页</a></span><span>></span><span><a href="science.html">数字展厅</a></span><span>></span><span><a href="scienceList.html">广东省第九届美术书法摄影作品联展（摄影金、银奖）</a></span><span>></span><span>祖国在我心中</span>
</div>
<!--面包屑结束-->
<!--主体开始-->
<div class="main-info-bg main-info-bgColorW clearfix">
  <div class="main-info-container">
	 <div class="public-left-main">
    	<div class="noticeInfo-main">
        	<h1>祖国在我心中</h1>
            <div class="otherInfo">
            	<span class="adr">责任者 :<span>王大强</span></span>
            	<span class="key">关键字 :<span>摄影</span><span>美术</span><span>文学</span></span>
            	<span class="time">时间 :<span>2016.10.20</span></span>
            </div>
            <div class="info-main">
            	<div class="topImg">
           	       <a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig1.jpg'})"> <img src="../../assets/img/img_demo/seBig1.jpg" width="800"></a>
                </div>
                <div class="bottomImgList">
                	<!--当数量超过4个的时候显示下面这个more的DIV-->
                	<div class="more"></div>
                	<ul class="clearfix">
                    	<li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig2.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig2.jpg" width="190"></a></li>
                        <li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig3.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig3.jpg" width="190"></a></li>
                        <li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig4.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig4.jpg" width="190"></a></li>
                        <li class="last"><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig5.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig5.jpg" width="190"></a></li>
                        <li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig6.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig6.jpg" width="190"></a></li>
                        <li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig7.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig7.jpg" width="190"></a></li>
                        <li><a href="javascript:void(0)" onClick="show_img(this,{url:'../../assets/img/img_demo/seBig8.jpg',zoomin:'ture'})"> <img src="../../assets/img/img_demo/seBig8.jpg" width="190"></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="page-cont">
                <span class="prev"><a href="#">&lt;&lt;上一篇作品</a></span>
                <span class="next"><a href="#">下一篇作品 &gt;&gt;</a></span>
            </div>
            <div class="voteCont none">
            	<!--这个是二期功能-->
            	<a href="javascript:void(0)">投它一票</a>
            </div>
            <div class="public-info-step">
              <h3><span>作品详情</span></h3>
              <div class="info">
                  《明眸》是一幅很有特色的照片，画面上，是一个用布围住头部的女孩，她只露出一双眼睛和上半个鼻子。但正是这双眼睛，透出了撼人心魄的眼光。
              </div>
              <h3><span>关于责任者</span></h3>
              <div class="info">
                  罗一平，美术学博士，教授，国务院特殊津贴专家，中国美术家协会策展委员会副主任，中国美术馆专业委员会副主任，中国美术家协会理论委员会委员，广东省美术家协会副主席，广东美术馆协会主席，中山大学教授，华南理工大学客座教授，俄罗斯列宾美术学院客座教授，亚洲艺术家联盟中国委员会主席。
              </div>
              <div class="public-share">
                <span class="btn qq"><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?" target="_blank"></a></span>
                <span class="btn weixin"><a href="javascript:void(0)" target="_blank"></a></span>
				<span class="btn weibo"><a href="javascript:void(0)" target="_blank"></a></span>
                <span class="btn dianzan">
                	<em>129</em>
                	<a href="javascript:void(0)" target="_blank">
                    </a>
                </span>
            </div>
            <div class="public-comment">
        	<h3>评论</h3>
            <div class="public-comment-list">
            	<div class="item">
                	<p class="author">文独青年 :<span>10小时前</span></p>
                    <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                 <div class="reMsg">
                  <p class="author">管理员A :</p>
                  <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                </div>
                </div>
                <div class="item">
                	<p class="author">文独青年 :<span>10小时前</span></p>
                    <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                 <div class="reMsg">
                  <p class="author">管理员A :</p>
                  <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                </div>
                </div>
                <div class="getMsg">
                	<textarea></textarea>
                </div>
                <div class="postMsg clearfix">
                    	<span><a href="javascript:void(0)">点评</a></span>
                 </div>
            </div>
        </div>
          </div>
        </div>
    </div>
     <div class="public-right-main">
          <div class="public-other-notice">
              <h2>展览信息</h2>
              <p>展览天数<span>15天</span></p>
              <p>展览日期<span>2016-11-16 至 2017-01-01</span></p>
              <p>展览地址<span>广东省天河区文化馆</span></p>
          </div>
      </div>
  </div>
</div>
<!--主体结束--> 
<!--底部开始-->
<div class="footer-container">
  <div class="public-footer clearfix">
    <div class="footer-sydw"></div>
    <div class="footer-nav-bar">
      <p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a></span> </p>
      <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
      <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
    </div>
    <div class="sns-bar"> <span class="ft-ico weixin">
      <div class="code"> <img src="../../assets/img/public/code.png" width="100" height="100"> <i></i> </div>
      </span> <span class="ft-ico email"> <a href=""></a> </span> </div>
  </div>
</div>
<!--底部结束--> 
<a class="to-top"></a>
</body>
</html>