<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-文化活动-活动资讯-广东省省级交通运输行政许可项目</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/train/noticeInfo.css" rel="stylesheet">
<link href="../../assets/js/plugins/oiplayer-master/css/oiplayer.css" rel="stylesheet">
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
<script src="../../assets/js/plugins/oiplayer-master/plugins/flowplayer-3.2.6.min.js"></script>
<script src="../../assets/js/plugins/oiplayer-master/js/jquery.oiplayer.js"></script>
<script src="../../assets/js/public/public.js"></script>
<script>
    	$(document).ready(function(e) {
			$('body.oiplayer-example').oiplayer({
				server : 'http://www.openimages.eu',
				jar: '../../assets/js/plugins/oiplayer-master/plugins/cortado-ovt-stripped-0.6.0.jar',
				flash: '../../assets/js/plugins/oiplayer-master/plugins/flowplayer-3.2.7.swf',
				controls: 'top',
				log: 'info'
				 /* msie (or java) has issues with just a dir */
			});
		});
</script>
<!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
<! [endif]]-->
</head>
<body class="oiplayer-example">
<!--公共主头部开始--> 
<div id="header-sm">
	<div class="header-nav-top-bg">
    	<div class="header-nav">
        	<ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li class="active"><a href="../activity/activity.html">文化活动</a></li> <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
    	<div class="header-nav">
        	<div class="logo-small">
            	<a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="activity.html">文化活动</a></li>
                <li class="active"><a href="notice.html">活动资讯</a></li>
                <li><a href="activitylist.html">文化活动</a></li>
                <li class="last"><a href="topicsList.html">品牌活动</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--面包屑开始-->
<div class="public-crumbs">
    <span><a href="./../index.html">首页</a></span><span>></span><span><a href="activity.html">文化活动</a></span><span>></span><span><a href="information.html">活动资讯</a></span><span>></span><span>广东省省级交通运输行政许可项目</span>
</div>
<!--面包屑结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
  <div class="main-info-container clearfix">
    <div class="public-left-main">
    	<div class="noticeInfo-main">
        	<h1>广东省省级交通运输行政许可项目</h1>
            <div class="otherInfo">
            	<span class="adr">来源 :<span>腾讯</span></span>
            	<span class="key">关键字 :<span>文化馆</span><span>广州</span></span>
            	<span class="time">时间 :<span>2016.10.20</span></span>
            </div>
            <div class="info-main">
            	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然国庆长假即将结束，但依然有1000多名从全市各个地方闻讯而来的热心群众自发组成了粉丝拉拉队、助阵团，为自己喜
爱的歌手加油助威。荧光棒、哨子响、欢呼声与现场炫丽的灯光 、LE D屏幕以及台上歌手的卖力演唱让柠溪文化广场变成了一片
欢乐的海洋 。<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次季赛的12强歌手是经过各自赛区网络或现场海选、周赛、月赛层层选拔胜出的，他们中既有经验老到的成 名歌手、也有
初出茅庐新生力量，12强犹如12种奏响的乐器各自演绎出华彩的乐章。“百姓大舞台，我秀我精彩”，据主办方介绍，经过11年
的精心打造，打工者歌唱大赛的水平和受欢迎程度不断提高，文化惠民效果凸显。 <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据统计，2006年至2015年，“同饮一江水”共成功举办了10届、420余场次，直接受惠群众近300万人次。历年大赛涌现出
来的原创作品，硕果累，成为我省文艺精品创作的重要 来源，如歌 曲《脚印》、《百年一梦》、《土豆花又开》分别荣获第十届
中国艺术节项目类群星奖和节目类群星奖、中宣部第十三届精神文明建设歌曲类“五个一工程”奖。 “同饮一江水”广东打 工者
歌唱大赛已经成为广东省著名的群众文化品牌，成为广东省公共文化 服务均等化的标杆性活动之一, 2016年的赛 事延续了往年的
传统，不设额外的参赛条件，不限年龄、不限地域、不限职业、不限专业，真正实现了零门槛参赛。<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今年的赛事5月27日在深圳宝安启动将历时5个月，设立珠海、江门、南沙、汕头、广东、宝安、清远、肇庆、茂名9大赛区，
历经海选、周赛、月赛、季赛和总决赛，共将举办120多场比赛，上千名歌唱爱好者报名，比赛观众将近百万人次, 真正成为了全
省百姓的欢乐大舞台。据珠海承办方介绍，由于今年承办了“同饮一江水”2016广东打工者歌唱大赛月赛和季赛，珠海根据大赛
组委会“各承办地要结合当地实际，利用当地优势资源，广泛吸引社会力量参与，突显地方创新和特色”的精神，将 本届打 工者
歌唱大赛与本市的2016年珠海市民艺术节歌手大赛进行了结合，吸引了100多名包括公务员、教师、驻场歌手、 退休老人、海岛
居民、进城务工人员等在内的众多民间高手“惊艳亮嗓”。在两个多月的比赛中，最终4名高手通过网络海选、3场现场海选 （包
括市民专场、打工者专场、学生专场）、3场周赛、市民歌手大赛总决赛以及月赛的多轮选拔代表珠海参赛。
            </div>
            <div class="video">
                	<div id="clientcaps"></div>
                    <video width="800" height="525" poster="../../assets/img/public/vedioBg.jpg" controls  oncontextmenu="return false">
                      <source type="video/mp4" src="../../assets/img/img_demo/xl.mp4" />
                    </video>
                    <p>这是这个视频的标题</p>
            </div>
            <div class="video">
                	<div id="clientcaps"></div>
                    <video width="800" height="525" poster="../../assets/img/public/vedioBg.jpg" controls  oncontextmenu="return false">
                      <source type="video/mp4" src="../../assets/img/img_demo/xl.mp4" />
                    </video>
                    <p>这是这个视频的标题</p>
            </div>
            <div class="video">
                	<div id="clientcaps"></div>
                    <video width="800" height="525" poster="../../assets/img/public/musicBg.png" controls  oncontextmenu="return false">
                      <source type="video/mp4" src="../../assets/img/img_demo/m.mp3" />
                    </video>
                    <p>这是这个视频的标题</p>
            </div>
            <div class="img-upload-list">
            	<img src="../../assets/img/img_demo/trainNoticeInfo1.jpg">
                <p>这是这个图片的标题</p>
                <img src="../../assets/img/img_demo/trainNoticeInfo1.jpg">
                <p>这是这个图片的标题</p>
                <img src="../../assets/img/img_demo/trainNoticeInfo1.jpg">
                <p>这是这个图片的标题</p>
                <img src="../../assets/img/img_demo/trainNoticeInfo1.jpg">
                <p>这是这个图片的标题</p>
            </div>
            <div class="file-download-cont">
            	<ul>
                	<li>
                    	<a href="javascript:void(0)"><i></i>这个是要下载的第一个文件</a>
                    </li>
                    <li>
                    	<a href="javascript:void(0)"><i></i>这个是要下载的第二个文件</a>
                    </li>
                </ul>
            </div>
            <div class="next-notice">
            	<a href="#">下一篇<span>广东省文化馆中心</span></a>
            </div>
<div class="public-share">
                <span class="btn qq"><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?" target="_blank"></a></span>
                <span class="btn weixin"><a href="javascript:void(0)" target="_blank"></a></span>
				<span class="btn weibo"><a href="javascript:void(0)" target="_blank"></a></span>
                <span class="btn dianzan">
                	<em>129</em>
                	<a href="javascript:void(0)" target="_blank">
                    </a>
                </span>
            </div>
        </div>
    </div>
      <div class="public-right-main">
          <div class="public-other-notice">
              <h2>相关文件</h2>
              <ul>
                  <li>
                      <a href="#">国家非物质文化遗产保护专项资金管理</a>
                      <p class="time">2015-11-20</p>
                  </li>
                  <li>
                      <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                      <p class="time">2015-11-20</p>
                  </li>
                  <li>
                      <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                      <p class="time">2015-11-20</p>
                  </li>
                  <li class="last">
                      <a href="#">文化部关于加强国家级非物质文化 遗产代表性项目保护管理工作的通知..</a>
                      <p class="time">2015-11-20</p>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>