<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省文化馆-注册</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/regist/login.css" rel="stylesheet">
<!--[if lt IE 9] >
<script src="../../assets/js/plugins/ie/IE9.js"></script> 
<! [endif]]-->
</head>
<body>
<a href="../index.html"><div class="regist-logo"></div></a>
<div class="main clearfix" style="height:500px;">
  <div class="login-cont">
  	<div class="form-cont">
    	<h1>用户登录/USER LOGIN</h1>
        <div class="input-row id-bg">
        	<input class="login-input" placeholder="手机号/邮箱账号">
            <div class="msg">手机号或邮箱账号不存在</div>
        </div>
        <div class="input-row pwd-bg">
        	<input type="password" class="login-input" placeholder="请输入密码">
        </div>
        <div class="find-pwd">
        	<a href="#">忘记密码</a>
        </div>
        <button type="submit" class="login-btn goNext">登录</button>
        <div class="regist-btn">
        	没有账号？<a href="">立即注册</a>
        </div>
    </div>
  </div>
  <div class="line-middle">
  	<em>OR</em>
  </div>
  <div class="other-cont">
  	<div class="third-party">
    	<h2>使用微信扫描直接登录</h2>
        <!--<ul class="clearfix">
        	<li class="ico-1"><a href="#"><em></em><span>新浪微博</span></a></li>
            <li class="ico-2"><a href="#"><em></em><span>QQ登录</span></a></li>
            <li class="ico-3"><a href="#"><em></em><span>微信登录</span></a></li>
        </ul>-->
        <div class="img">
            <img src="../../../static/assets/img/public/code.png">
        </div>
    </div>
  </div>
</div>
<!-- core public JavaScript --> 
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script> 
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script> 
<script src="../../assets/js/public/rong-dialog.js"></script>
<script src="../../assets/js/regist/login.js"></script>
</body>
</html>
