<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>广东省数字文化馆服务条款</title>
</head>
<body>
<div style="color:#fff; font-size:12px; line-height:24px;">
    <strong>一、服务协议的确定</strong><br>
    1、《服务协议》（以下简称“本协议”）由广东省文化馆在提供台州文化云的网站服务时与数字文化馆用户达成的关于使用台州文化云网站的各项规则、条款和条件。本协议在台州文化云平台用户接受注册及文化服务时生效。<br>
    2、依照本协议登记注册或浏览、使用网站相关资讯及内容的用户（以下简称“用户”），并同意本协议中的服务条款，方有资格享受网站提供的相应服务，并受本协议条款的约束。<br>
    3、台州文化云H5版及微信端的各种版本，包括但不限于Iphone版、Android版等，均援引适用本服务条款。台州文化云拥有并保留其提供的各种移动端及在手机客户端中展示内容的全部知识产权。<br>
    <strong>二、内容所有权</strong><br>
    1、台州文化云提供的网络服务内容可能包括：文字、软件、声音、图片、录象、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。<br>
    2、用户只有在获得广东省文化馆或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与这些内容有关的派生产品。<br>
    <strong>三、用户信息的提供</strong><br>
    为保障用户的合法权益，避免在服务时因用户注册资料与真实情况不符而发生纠纷，请用户注册时务必按照真实、全面、准确的原则填写。对因用户自身原因而造成的不能服务情况，用户需承担相应责任。如果用户提供的资料包含有不正确的信息，广东省文化馆保留结束该用户使用服务资格的权利。<br>
    <strong>四、用户资料隐私保护</strong><br>
    1、本协议所称之用户隐私包括被法律确认为隐私内容，并符合下述范围的信息：<br>
    (a) 用户注册时根据网站要求提供的个人信息；<br>
    (b) 在用户使用网站服务、参加网站活动、或访问网站网页时，网站自动接收并记录的用户浏览器上的服务器数据，包括但不限于IP地址、网站Cookie中的资料及用户要求取用的网页记录；<br>
    (c) 网站通过合法途径从商业伙伴处取得的用户个人资料。<br>
    2、保护用户隐私网站的一项基本政策，广东省文化馆保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在网站上的非公开内容，但下列情况除外：<br>
    (a) 事先获得用户的明确授权；<br>
    (b) 根据有关的法律法规要求；<br>
    (c) 按照相关政府主管部门的要求；<br>
    (d) 为维护社会公众的利益；<br>
    (e) 为维护网站的合法权益。<br>
    3、用户须做到：<br>
    (a) 用户名和昵称的注册与使用应符合网络道德，遵守中华人民共和国的相关法律法规；<br>
    (b) 用户名和昵称中不能含有威胁、淫秽、漫骂、非法、侵害他人权益等有争议性的文字。<br>
    <strong>五、用户资料安全</strong><br>
    1、对用户注册信息网站提供最大限度的安全保障。同时，用户务必对其用户密码、个人账号等信息保密，以免被盗用或遭窜改。注册成功后，用户必须保护好自己的账号和密码，对非因网站原因的泄露广东省文化馆概不负责。
    用户可随时改变自己的密码，也可以结束旧的账户重开一个新账户。用户若发现任何非法使用用户账号或安全漏洞的情况，应当立即与广东省文化馆联系，如因用户自身原因造成其账户无法正常使用及遭受损失，广东省文化馆对此概不负责，一切损失由用户自行承担。<br>
    2、用户不得通过不正当手段恶意注册台州文化云账号，不得盗用他人账号，不得泄露其他用户的相关信息。如用户违反上述规定，则广东省文化馆有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、暂停或查封用户账号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。<br>
    <strong>六、用户享有的权利及服务</strong><br>
    1、用户有权随时对自己的个人资料进行查询、修改和删除。<br>
    2、用户理解，台州文化云仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行承担。<br>
    3、用户须对其账户中的所有行为、活动和事件负全责。<br>
    <strong>七、用户管理</strong><br>
    1、用户不得利用本网站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本网制作、复制和传播下列信息：<br>
    (a) 煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
    (b) 煽动颠覆国家政权，推翻社会主义制度的；<br>
    (c) 煽动分裂国家、破坏国家统一的；<br>
    (d) 煽动民族仇恨、民族歧视，破坏民族团结的；<br>
    (e) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>
    (f) 宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
    (g) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>
    (h) 损害国家机关信誉的；<br>
    (i) 其他违反宪法和法律行政法规的；<br>
    (j) 进行商业广告行为的。<br>
    2、广东省文化馆声明网站对用户的系统记录有可能作为用户违反法律的证据。<br>
    3、未经广东省文化馆的授权或许可，任何用户不得借用台州文化云的名义从事任何商业活动，也不得将台州文化云作为从事商业活动的场所、平台或其他任何形式的媒介。禁止用户将本站用作从事各种非法活动的场所、平台或者其他任何形式的媒介。如用户违反上述规定，则台州文化云有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、暂停或查封用户账号，乃至通过诉讼形式追究用户法律责任等。<br>
    <strong>八、服务变更、中断或终止</strong> <br>
    1、台州文化云因自身产品、合作伙伴变更等情形而引起的提供服务的变更，台州文化云享有变更权。<br>
    2、台州文化云会不定期的举行诸如“抢票”的优惠购票活动或者预定场地等，用户理解并同意将使用合理正当的方式参与此类活动，同时由于系统拥堵或系统延时等原因而造成的各种问题，用户同意以台州文化云的处理方式及解决办法为准。若台州文化云一旦发现有用户使用不正当手段参与此类活动，台州文化云有权追究该用户的责任，包括但不限于取消订单、冻结账户、加入黑名单等。<br>
    3、如因系统维护或升级的需要而需暂停网络服务，台州文化云将尽可能事先进行通告。<br>
    4、如发生下列任何一种情形，台州文化云有权随时中断或终止向用户提供本协议项下的网络服务而无需
    通知用户：<br>
    (a) 用户提供的个人资料不真实；<br>
    (b) 用户违反本协议中规定的使用规则。<br>
    5、台州文化云因下列系统原因或不可抗力引起的服务中断、延时或终止，使用户无法正常使用台州文化云部分或全部服务时，台州文化云不承担损害赔偿责任，该状况包括但不限于：<br>
    (a) 台州文化云在网站公告的系统停机维护期间；<br>
    (b) 因电信设备出现故障不能进行数据传输的；<br>
    (c) 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成台州文化云系统障碍不能正常提供服务的；<br>
    (d)由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。<br>
    <strong>九、免责声明</strong><br>
    1、由于台州文化云网站信息来自于各地市，所有信息仅作为参考和建议之用，一切以现实情况为准。用户明确知晓其使用台州文化云网络服务可能存在的风险。<br>
    2、台州文化云不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br>
    3、台州文化云不声明或保证本网站的材料或服务是准确的、完整的、可靠的、当前的或无差错的，并且否认有关本网站、本网站内容或其任何部分的准确性或专有性的任何保证或声明。<br>
    4、虽然台州文化云力图使用户能对本网站和服务进行安全访问和使用，但台州文化云不能也不会声明或保证本网站或其服务器是不含病毒或其它有害因素的；因此台州文化云建议用户使用业界公认的杀毒软件以保证自身的使用安全。<br>
    <strong>十、违约赔偿</strong><br>
    用户同意保障和维护台州文化云及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给台州文化云或任何其他第三人造成损失，用户同意承担由此造成的全部损害赔偿责任。<br>
    <strong>十一、修改协议</strong><br>
    1、台州文化云将在必要时修改本协议的有关条款，一旦条款内容发生变动，台州文化云将会在相关的页面提示修改内容。<br>
    2、如果不同意台州文化云对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。<br>
    <strong>十二、法律管辖</strong><br>
    1、本服务条款的订立、执行和解释及争议的解决均应适用中国法律。<br>
    2、用户同意如用户与台州文化云就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向台州文化云所在地的人民法院提起诉讼。<br>
    <strong>十三、其他规定</strong><br>
    1、如果本服务条款中的某些规定被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可从本网站条款分割，且不得影响任何其余规定的效力和可执行性。<br>
    2、本协议是台州文化云与用户之间的法律关系的重要文件，如用户的任何书面或者口头意思表示与本协议不一致的，均应当与本协议为准，除非本协议被台州文化云声明作废或者被新版本代替。<br>
    3、如果用户对台州文化云或本服务条款存有任何疑问，可以联系我们。在法律允许范围内，台州文化云享有对本服务条款的解释权。<br>

</div>
</body>
</html>