<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省文化馆-注册</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/regist/regist.css" rel="stylesheet">
<!--[if lt IE 9] >
<script src="../../assets/js/plugins/ie/IE9.js"></script> 
<! [endif]]-->
</head>
<body>
<a href="../index.html"><div class="regist-logo"></div></a>
<ul class="crumbs crumbs-1st clearfix">
  <li class="step-1">1. 基本资料<em class="arrow"></em></li>
  <li class="step-2">2. 完善资料<em class="arrow"></em></li>
  <li class="step-3 last">3. 注册成功</li>
</ul>
<div class="main">
  <div class="main-cont">
 	<div class="reLoad none"><a href="javascript:void(0)" onClick="history.go(0);">重新注册</a></div>
    <div class="other-reg">或<a href="javascript:void(0)">邮箱注册</a></div>
    <dl class="phoneType clearfix">
      <dt class="float-left">手机号</dt>
      <dd class="float-left">
        <input class="in-txt inputPhone" placeholder="输入11位手机号码" maxlength="11">
        <em></em>
      </dd>
    </dl>
    <dl class="phoneType clearfix">
      <dt class="float-left">验证码</dt>
      <dd class="float-left">
        <input class="in-txt inputCode readonly" placeholder="输入验证码" readonly maxlength="4">
        <em></em>
        <div class="code"><img src="../../assets/img/public/code.gif"></div>
      </dd>
    </dl>
    <dl class="phoneCode clearfix none">
      <dt class="float-left">手机验证码</dt>
      <dd class="float-left">
        <input class="in-txt inputPcode" placeholder="输入手机验证码" maxlength="6">
        <em></em>
        <div class="numAdd phoneNum"><span></span>秒后可重新发送</div>
        <div class="numAdd postCode sendCodeP none">发送验证码</div>
      </dd>
    </dl>
    <dl class="mailType clearfix none">
      <dt class="float-left">E-mail</dt>
      <dd class="float-left">
        <input class="in-txt inputEmail" placeholder="输入邮箱地址">
        <em></em>
      </dd>
    </dl>
    <dl class="mailType clearfix none">
      <dt class="float-left">验证码</dt>
      <dd class="float-left">
        <input class="in-txt inputEcode" placeholder="输入邮箱验证码" maxlength="6">
        <em></em>
        <div class="numAdd postCode emailCode none">发送验证码</div>
        <div class="numAdd emailNum none"><span></span>秒后可重新发送</div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="float-left">密码</dt>
      <dd class="float-left">
        <input class="in-txt password"  type="password" placeholder="6-18位数字字母符号组合">
        <em></em>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="float-left">确认密码</dt>
      <dd class="float-left">
        <input class="in-txt repassword"  type="password" placeholder="确认密码">
        <em></em>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="float-left">&nbsp;</dt>
      <dd class="float-left readPosition">
      	<div class="abBtn">认真阅读并同意《会员注册条款》</div>
      	<div class="float-left readClause">
        	<div class="readCont none">
            	<div class="closeRead"></div>
            	<h4>《会员注册条款》</h4>
               	<iframe src="readme.html"></iframe>
                <div class="agree">
                	<input type="checkbox" class="ck_agree">我已阅读并接受《会员注册条款》
                </div>
            </div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="float-left">&nbsp;</dt>
      <dd class="float-left">
        <div class="goNext float-left">下一步</div>
      </dd>
    </dl>
  </div>
</div>
<div class="mask none"></div>
<!-- core public JavaScript --> 
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script> 
<script src="../../assets/js/public/formUI.js"></script> 
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script> 
<script src="../../assets/js/regist/regist.js"></script>
</body>
</html>
