<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-培训驿站-在线报名-2016暑假成人-架子鼓成人培训班第23期</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/train/teacher.css" rel="stylesheet">
<!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
  <div class="header-nav-top-bg">
    <div class="header-nav">
      <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li class="active"><a href="../train/train.html">培训驿站</a></li>
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
  </div>
  </div>
<div id="header-fix">
    <div class="header-nav-bg">
    <div class="header-nav">
      <div class="logo-small"> <a href="#"><img src="../../assets/img/public/logoSmall.png"></a> </div>
        <ul>
            <li><a href="train.html">培训驿站</a></li>
            <li><a href="notice.html">培训公告</a></li>
            <li><a href="notice.html">培训资讯</a></li>
            <li class="active"><a href="teach.html">培训师资</a></li>
            <li><a href="registration.html">在线报名</a></li>
            <li><a href="vod.html">在线点播</a></li>
            <li class="last"><a href="#">培训资源库</a></li>
        </ul>
    </div>
  </div>
</div>
<!--公共主头部结束--> 
<!--面包屑开始-->
<div class="public-crumbs">
    <span><a href="#">首页</a></span><span>></span><span><a href="train.html">培训驿站</a></span><span>></span><span><a href="teach.html">培训师资</a></span><span>></span><span>课程介绍</span>
</div>
<!--面包屑结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
  <div class="main-info-container clearfix">
  	<div class="teacherCont clearfix">
    	<div class="img">
        	<img src="../../assets/img/img_demo/trainTeacher1.jpg" width="160" height="160">
        </div>
        <div class="info">
        	<h1>张小介</h1>
            <p><i class="public-s-ico s-ico-5"></i>专长 : <span>国画水彩</span></p>
            <p><i class="public-s-ico s-ico-6"></i>课程 : <span>国画课</span><span>水彩课</span></p>
        </div>
    </div>
    <div class="public-left-main">
    	<div class="public-info-step">
        	<h3><span>讲师简介</span></h3>
            <div class="info">
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加工作以来，全身心投入教学，在工作中勤勤恳恳，踏踏实实，不计较个人得失，早来晚走，以校为家。啊历年教学成绩都在
全镇前列。人生格言：有人把教师比喻成蜡烛，照亮了别人燃烧了自己。<br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格言是：今天的积蕴，是为了明天的放飞，还有什么比看着自己的学生飞得更高、更快、更远，  更令教师欣慰的呢？ 教师最
大的幸福就是看到学生们在成长。全身心投入教学，在工作中勤勤恳恳，踏踏实实，不计较个人得失 ，早来晚走， 以校为家.。历
年教学成绩都在全镇前列。人生格言：有人把教师比喻成蜡烛，照亮了别人燃烧了自己。我认为只有此时   ，我们才真正拥有了一
切。人生格言是：今天的积蕴，是为了明天的放飞，还有什么比看着自己的学生飞得更高、更快、更远，  更令教师欣慰的呢？ 教
师最大的幸福就是看到学生们在成长。
            </div>
            <h3><span>专长介绍</span></h3>
            <div class="info">
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9月10至11日， 广东省未成年犯管教所免费艺术培训班正式开 班，   本培训班是在广东省文化厅关工委和广 东省司法厅关工 委共同指导下，由广东省文化馆与广东省未成年犯管教所联 合开办的，  旨在向特殊群体提供一个接触和学习艺术的机会， 并通过艺术学习的形式来大力弘扬社会主义核心价值观，  使未管所学员能够在参与中接受生动具体的道德实践教育，树立对人生更高的追求。 <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据工作安排，培训班由广东省文化馆负责聘请老    师、设置课程、制定教学计划等教学工作，广东省未 成年犯管教所负责提供培训场地、组织学员上课、课堂管理和日常练习等  工作， 并采取循序渐进的方式展教学，本学期开设健美操 、语言艺术、吉他声乐和舞蹈等7个班级，每门课程培训学员20～50人，以后将根据实际情况逐步增设其它专业课程。 
            </div>
            <div class="public-share">
                <span class="btn qq"><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?" target="_blank"></a></span>
                <span class="btn weixin"><a href="javascript:void(0)" target="_blank"></a></span>
				<span class="btn weibo"><a href="javascript:void(0)" target="_blank"></a></span>
                <span class="btn dianzan">
                	<em>129</em>
                	<a href="javascript:void(0)" target="_blank">
                    </a>
                </span>
            </div> 
        </div>
        <div class="public-comment">
        	<h3>评论</h3>
            <div class="public-comment-list">
            	<div class="item">
                	<p class="author">文独青年 :<span>10小时前</span></p>
                    <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                 <div class="reMsg">
                  <p class="author">管理员A :</p>
                  <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                </div>
                </div>
                <div class="item">
                	<p class="author">文独青年 :<span>10小时前</span></p>
                    <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                 <div class="reMsg">
                  <p class="author">管理员A :</p>
                  <p class="msg">已经上了三周课程了，对粤剧有了新的认识，学习到了非常多的传统文化，也明白了粤剧的精髓和魅力所在，  我会努力继续的是学习跟进下去，老师也非常厉害，在专业。</p>
                </div>
                </div>
                <div class="getMsg">
                	<textarea></textarea>
                </div>
                <div class="postMsg clearfix">
                    	<span><a href="javascript:void(0)">点评</a></span>
                 </div>
            </div>
        </div>
    </div>
      <div class="public-right-main">
          <div class="public-other-notice">
              <h2>开班课程</h2>
              <div class="item clearfix">
                  <div class="right-img">
                      <a href="javascript:void(0)"><img src="../../assets/img/img_demo/trainTeacherCase1.jpg" width="130" height="90"></a>
                  </div>
                  <div class="right-detail">
                      <a href="javascript:void(0)"><h3>暑假未成年人钢琴培训班</h3></a>
                      <p class="time">2015-10-20</p>
                  </div>
              </div>
              <div class="item clearfix">
                  <div class="right-img">
                      <a href="javascript:void(0)"><img src="../../assets/img/img_demo/trainTeacherCase1.jpg" width="130" height="90"></a>
                  </div>
                  <div class="right-detail">
                      <a href="javascript:void(0)"><h3>暑假未成年人钢琴培训班</h3></a>
                      <p class="time">2015-10-20</p>
                  </div>
              </div>
              <div class="item clearfix">
                  <div class="right-img">
                      <a href="javascript:void(0)"><img src="../../assets/img/img_demo/trainTeacherCase1.jpg" width="130" height="90"></a>
                  </div>
                  <div class="right-detail">
                      <a href="javascript:void(0)"><h3>暑假未成年人钢琴培训班</h3></a>
                      <p class="time">2015-10-20</p>
                  </div>
              </div>
              <div class="item last clearfix">
                  <div class="right-img">
                      <a href="javascript:void(0)"><img src="../../assets/img/img_demo/trainTeacherCase1.jpg" width="130" height="90"></a>
                  </div>
                  <div class="right-detail">
                      <a href="javascript:void(0)"><h3>暑假未成年人钢琴培训班</h3></a>
                      <p class="time">2015-10-20</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>