<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省文化馆-找回密码</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/regist/regist.css" rel="stylesheet">
<!--[if lt IE 9] >
<script src="../../assets/js/plugins/ie/IE9.js"></script> 
<! [endif]]-->
</head>
<body>
<a href="../index.html"><div class="regist-logo"></div></a>
<ul class="crumbs crumbs-2nd clearfix">
  <li class="step-1">1. 选择模式<em class="arrow"></em></li>
  <li class="step-2">2. 验证信息<em class="arrow"></em></li>
  <li class="step-3 last">3. 修改密码</li>
</ul>
<div class="main">
  <div class="main-cont">
    <div class="typeChange">
      <div class="change mobileFind locationP">
        <h2>通过手机找回密码</h2>
        <p>Retrieve password with mobile</p>
      </div>
      <div class="change emailFind locationE none">
        <h2>通过邮箱找回密码</h2>
        <p>Retrieve password with E-mail</p>
      </div>
    </div>
    <!--手机找回密码信息验证开始-->
    <div class="typeMain">
      <dl class="phoneType clearfix">
        <dt class="float-left">手机号</dt>
        <dd class="float-left">
          <input class="in-txt inputPhone locking" placeholder="输入11位手机号码" maxlength="11" value="13888888888" readonly>
          <em></em>
        </dd>
      </dl>
      <dl class="phoneType clearfix">
        <dt class="float-left">验证码</dt>
        <dd class="float-left">
          <input class="in-txt inputCode" placeholder="输入验证码"  maxlength="4">
          <em></em>
          <div class="code"><img src="../../assets/img/public/code.gif"></div>
        </dd>
      </dl>
      <dl class="phoneCode clearfix none">
        <dt class="float-left">手机验证码</dt>
        <dd class="float-left">
          <input class="in-txt inputPcode" placeholder="输入手机验证码" maxlength="6">
          <em></em>
          <div class="numAdd phoneNum"><span></span>秒后可重新发送</div>
          <div class="numAdd postCode sendCodeP none">发送验证码</div>
        </dd>
      </dl>
      <dl class="clearfix">
        <dt class="float-left">&nbsp;</dt>
        <dd class="float-left">
          <div class="goNext float-left"><a href="findpwd3rd.html">下一步</a></div>
        </dd>
      </dl>
    </div>
    <!--手机找回密码信息验证结束-->
    <!--邮箱找回密码信息验证开始-->
    <div class="typeMain none">
	  <dl class="mailType clearfix">
      <dt class="float-left">E-mail</dt>
      <dd class="float-left">
        <input class="in-txt inputEmail locking" placeholder="输入邮箱地址" readonly value="Mylovegb@sina.com">
        <em></em>
      </dd>
    </dl>
    <dl class="mailType clearfix">
      <dt class="float-left">验证码</dt>
      <dd class="float-left">
        <input class="in-txt inputEcode" placeholder="输入邮箱验证码" maxlength="6">
        <em></em>
        <div class="numAdd postCode emailCode">发送验证码</div>
        <div class="numAdd emailNum none"><span></span>秒后可重新发送</div>
      </dd>
    </dl>
      <dl class="clearfix">
        <dt class="float-left">&nbsp;</dt>
        <dd class="float-left">
          <div class="goNext float-left"><a href="findpwd3rd.html">下一步</a></div>
        </dd>
      </dl>
    </div>
    <!--邮箱找回密码信息验证结束-->
  </div>
</div>
<!-- core public JavaScript --> 
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script> 
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script> 
<script src="../../assets/js/regist/findpwd2nd.js"></script>
</body>
</html>
