<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatoo.hn.mapper.home.CrtWeChatMapper">

    <select id="queryWhWeChat" resultType="com.creatoo.hn.model.WhgUsrWeixin">
          SELECT
                wuw.id AS id,
                wuw.userid AS userid,
                wuw.unionid AS unionid,
                wuw.openid AS openid,
                wuw.nickname AS nickname,
                wuw.sex AS sex,
                wuw.province AS province,
                wuw.city AS city,
                wuw.country AS country,
                wuw.headimgurl AS headimgurl,
                wuw.crtdate AS crtdate
        FROM whg_usr_weixin wuw
          <where>
              1=1
              <if test="whgUsrWeixin.id != null">
                  AND wuw.id = #{whgUsrWeixin.id}
              </if>
              <if test="whgUsrWeixin.userid != null">
                  AND wuw.userid = #{whgUsrWeixin.userid}
              </if>
              <if test="whgUsrWeixin.unionid != null">
                  AND wuw.unionid = #{whgUsrWeixin.unionid}
              </if>
              <if test="whgUsrWeixin.openid != null">
                  AND wuw.openid = #{whgUsrWeixin.openid}
              </if>
              <if test="whgUsrWeixin.nickname != null">
                  AND wuw.nickname = #{whgUsrWeixin.nickname}
              </if>
              <if test="whgUsrWeixin.sex != null">
                  AND wuw.sex = #{whgUsrWeixin.sex}
              </if>
              <if test="whgUsrWeixin.province != null">
                  AND wuw.province = #{whgUsrWeixin.province}
              </if>
              <if test="whgUsrWeixin.city != null">
                  AND wuw.city = #{whgUsrWeixin.city}
              </if>
              <if test="whgUsrWeixin.country != null">
                  AND wuw.country = #{whgUsrWeixin.country}
              </if>
              <if test="whgUsrWeixin.headimgurl != null">
                  AND wuw.headimgurl = #{whgUsrWeixin.headimgurl}
              </if>
          </where>
    </select>



</mapper>