<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatoo.hn.mapper.home.CrtWhhdMapper">

<!-- 根据场次查询已选座位-->
    <select id="findSeat4EventId" resultType="hashmap">
       select o.id as orderId ,
        t.seatid ,o.eventid,
        s.seatcolumn,s.seatrow  
        from whg_act_order o 
		LEFT JOIN whg_act_ticket t on o.id = t.orderid 
		LEFT JOIN whg_act_seat s on t.seatid = s.id 
		where o.eventid = #{eventId}  and o.orderisvalid = 1 
		<if test="userId != null and userId != ''">
			and o.userid = #{userId}
		</if>
		<if test="sellticket == 3">
			and t.seatid is not NULL   
			GROUP BY t.seatid 
		</if>
		
	</select>

</mapper>