.on{display: block!important;}
.bg-color{background: #fff;}
.news-cont .img{float:left; width:480px; height:370px;overflow: hidden;position: relative;}
.news-cont .img img{width: 480px;height: 370px;}
.news-cont .img .mask a{color: #fff;display: block;}
.news-cont .img .mask a:hover{text-decoration: underline;}
.news-cont .img .mask{height: 40px;width: 100%;position: absolute;left: 0px;bottom: 0px;line-height: 40px;text-indent: 20px;background: url(../../../assets/img/public/b.png) repeat;}
.news-cont .newsGroups{float:right; width:700px; height:445px;}
.news-cont .newsGroups .tab{line-height: 40px;height: 40px;border-bottom: #ececec solid 1px;}
.news-cont .newsGroups .tab ul li{cursor:pointer;float: left;font-size: 16px;color: #333;line-height: 40px;padding: 0px 20px;text-align: center;height: 40px;}
.news-cont .newsGroups .tab ul li.active{border-bottom: solid 1px #398554;color: #398554;}
.news-cont .newsGroups .detail{display: none;}
.news-cont .newsGroups .detail ul li{text-align: left;position: relative;text-indent: 20px;border-bottom: dashed 1px #ececec;height: 54px;line-height: 54px;padding: 0 10px 0 20px;}
.news-cont .newsGroups .detail ul li a{font-size: 14px;color: #333;margin-left: 5px;max-width: 530px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block; float: left;}
.news-cont .newsGroups .detail ul li span{float: right;font-size: 14px;color: #808080;}
.news-cont .newsGroups .detail ul li i{display: block;position: absolute;width: 14px;height: 14px;background: url(../../../assets/img/activity/li-logo.png);top: 21px;}
.news-cont .newsGroups .detail ul li:hover i{background: url(../../../assets/img/activity/li-logo.png) -15px 0px;}
.news-cont .newsGroups .detail ul li:hover a{color: #398554;}
.news-cont .newsGroups .more{height: 32px; margin-top: 40px;}
.news-cont .newsGroups .more a{margin: 0 auto;}
/*品牌活动*/
.event-con .event-left{width: 360px;height: 480px;float: left;background: #398554;}
.event-con .event-left h2{text-align: center;font-size: 18px;color: #fff;margin: 65px 0 50px 0;display: block;}
.event-con .event-left ul{padding: 0 20px;}
.event-con .event-left ul li{font-size: 14px;color: #fff;margin: 0px 0 20px 0;text-align: left;}
.event-con .event-right{width: 840px;height: 480px;float: right;background: url(../../../assets/img/activity/event-right-bg.png) no-repeat;}
.event-con .event-right ul{overflow: hidden;}
.event-con .event-right ul li{width: 227px;height: 330px;float: left;margin-right: 40px;}
.event-con .event-right ul li div.img{width: 227px;height: 280px;}
.event-con .event-right ul li div.detail{width: 227px;height: 50px;line-height: 50px;color: #808080;text-align: center;}
.event-con .event-right .event-right-list{width: 760px;height: 330px;margin-left: 40px;margin-top: 100px;overflow: hidden;}
.event-con .event-right .arrow{width: 80px;height: 20px;margin: 0 auto;}
.event-con .event-right .arrow .arrow-left{float: left;cursor: pointer;}
.event-con .event-right .arrow .arrow-right{float: right;cursor: pointer;}
.event-con .event-right .arrow .arrow-left i{overflow:hidden;display: block;width: 20px;height: 20px;background: url(../../../assets/img/activity/arrow.png) 0px 0px;}
.event-con .event-right .arrow .arrow-left:hover i{background: url(../../../assets/img/activity/arrow.png) 0px -21px;}
.event-con .event-right .arrow .arrow-right i{overflow:hidden;display: block;width: 20px;height: 20px;background: url(../../../assets/img/activity/arrow.png) -22px 0px;}
.event-con .event-right .arrow .arrow-right:hover i{background: url(../../../assets/img/activity/arrow.png) -22px -21px;}
/*文化活动*/
.cul-cont div.label{margin-top: -50px;}
.cul-cont div.label ul{text-align: center;}
.cul-cont div.label ul li{display: inline;margin: 0 30px;}
.cul-cont div.label ul li a{border-radius: 19px;font-size: 14px;border: solid 1px #fff;padding: 7px 35px;color: #808080;}
.cul-cont div.label ul li a:hover{border: solid 1px #398554;color: #398554;}
.cul-cont div.list-detail{margin-top: 10px;height: 265px;width: 1200px;}
.cul-cont div.list-detail ul{}
.cul-cont div.list-detail ul li{width: 380px;height:265px;position:relative;float: left;margin:0 30px 0 0;background: #fff;overflow: hidden;}
.cul-cont div.list-detail ul li div.img{width: 380px;height: 265px;overflow: hidden;position: absolute;top:0px;left: 0px;}
.cul-cont div.list-detail ul li div.img img{width: 380px;height: 265px;vertical-align: top;}
.cul-cont div.list-detail ul li div.detail{width: 380px;height: 173px;cursor: pointer;overflow:hidden;background: url(../../../assets/img/public/b.png);position: absolute;top:218px;left: 0px;}
.cul-cont div.list-detail ul li div.heiheihei{background: url(../../../assets/img/union/b1.png)}
.cul-cont div.list-detail ul li div.detail>div.title{font-size: 18px;line-height:28px;margin:10px 0 5px 0;color: #fff;text-align: center;}
.cul-cont div.list-detail ul li div.detail>div.text{font-size: 12px;line-height: 22px;color: #d5d5d5;margin: 0 10px;max-height: 110px;overflow: hidden;}
.trainVedio .vedio-btn-cont{height:25px; margin-bottom:20px;}
.trainVedio .vedio-btn-cont div{float:right; width:25px; height:25px; background:url(../../../assets/img/public/arrow2.png) no-repeat; cursor:pointer;}
.trainVedio .vedio-btn-cont .vedio-next{background-position:0px 0px; margin-right:5px;}
.trainVedio .vedio-btn-cont .vedio-prev{background-position:-25px 0px;}
.trainVedio .vedio-btn-cont .vedio-next:hover{background-position:0px -25px;}
.trainVedio .vedio-btn-cont .vedio-prev:hover{background-position:-25px -25px;}
div.bar{height:25px; margin-bottom:20px;margin-top: -45px;}
div.bar div{float:right; width:25px; height:25px;cursor:pointer;}
.next{background:url(../../../assets/img/public/arrow2.png) no-repeat 0px 0px;margin-right:5px;}
.prev{background:url(../../../assets/img/public/arrow2.png) no-repeat -25px 0px;}
.prev:hover{background-position:-25px -25px;}
.next:hover{background-position:0px -25px;}


body{background-color:#fff;}
#content{background: #fff;}
.container{width: 1200px;margin: 0 auto;}
.categoryChange{width: 1200px;margin: 40px auto;}
.categoryChange .row{padding: 15px 20px 0;background: #fff; border-bottom:1px #e5e5e5 dashed;}
.categoryChange .border-none{border-bottom:0px; margin-bottom:0px;}
.categoryChange .row .title{float:left; width:70px; font-size:14px; padding-top:8px;}
.categoryChange .row .adrList{width:1050px; float:left;}
.categoryChange .row .adrList1{width:700px; float:left;}
.categoryChange .row .adrList .item a{color:#808080;font-size: 14px;}
.categoryChange .row .adrList .active{background: #398554;}
.categoryChange .row .adrList .active a,.categoryChange .type-row .categoryName.active a{color: #fff;font-weight:normal}
.categoryChange .row .adrList .item{padding: 0px 25px;margin-bottom: 15px;border-radius: 3px;display: inline-block;height: 30px;line-height: 30px;}
.categoryChange .row .searchCont{float: right;width: 260px;height: 30px;border: 1px #ddd solid; border-radius: 5px; background-color: #fff; margin-right:0px;}
.categoryChange .row .searchCont input{height: 25px;line-height: 25px; border: 1px #fff solid; color: #808080; font-size: 14px;vertical-align: top; margin-left: 10px;}
.categoryChange .row .searchCont button{height:30px; width:36px; background:url(../../img/activity/search.png) 40% 55% no-repeat; float: right;}
/*页面主体*/
.active-list .con{width: 1230px; margin-bottom:80px;}
.active-list .con ul li{width: 380px;background: #f5f5f5;float: left;margin: 0px 30px 30px 0;}
.active-list .con ul li div.img{width: 380px;height: 240px;overflow: hidden;position: relative;}
.active-list .con ul li div.img .mask{width: 380px;height: 240px;position:absolute;left:0;top:0;background: url(../../img/public/mask1.png) no-repeat 50% 50%;text-align: center; display:none;}
.active-list .con ul li div.detail{padding:30px 20px;}
.active-list .con ul li div.detail h2{font-size: 18px;color: #333;margin: 0 0 10px 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.active-list .con ul li div.detail p{font-size: 14px;color: #808080;margin: 0 0 0px 0;max-height: 48px;overflow: hidden;line-height: 24px;}
.topicslist-list .con{width: 1200px; margin-bottom:80px;}
.topicslist-list .con ul li{height:190px;border-bottom: dashed 1px #e5e5e5;padding: 30px 0px;}
.topicslist-list .con ul li:before{clear: both;}
.topicslist-list .con ul li div.img{width: 300px;height: 190px;float: left;overflow: hidden;}
.topicslist-list .con ul li div.img .mask{width: 380px;height: 240px;background: url(../../img/public/mask1.png) no-repeat 50% 50%;text-align: center; display:none;}
.topicslist-list .con ul li div.detail{padding:0px 0 0px 20px;float: left;width: 870px;}
.topicslist-list .con ul li div.detail h2{font-size: 18px;color: #333;margin: 0px 0 10px 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.topicslist-list .con ul li div.detail p{font-size: 14px;color: #808080;margin: 0 0 30px 0;overflow: hidden;line-height: 24px;max-height:72px;height: 72px;}
.topicslist-list .con ul li div.detail a.enter-zt{background: #398554;height: 40px;line-height: 40px;float: left;padding: 0 40px;color: #fff;font-size: 16px;}