<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>台州文化云-用户后台</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/userCenter/userCenter.css" rel="stylesheet">
<!--[if lt IE 9] >
<script src="../../assets/js/plugins/ie/IE9.js"></script> 
<! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header">
  <div class="main clearfix">
    <div class="logo"></div>
    <div class="rightMain">
      <div class="sysType clearfix">
        <div class="loginCont none"> <a href="javascript:void(0)" class="btn">登录</a> <a href="javascript:void(0)" class="btn">注册</a> </div>
        <div class="loginIn"> <span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span> <span class="quit"><a href="javascript:void(0)">退出</a></span> </div>
        <div class="h-line"></div>
        <div class="searchCont">
          <input placeholder="搜点什么...">
          <button class="s-btn"></button>
        </div>
      </div>
      <ul class="nav clearfix">
        <li><a href="../index.html">首页</a><span>/</span></li>
        <li><a href="../museum/museum.html">馆务公开</a><span>/</span></li>
        <li><a href="../information/notice.html">资讯动态</a><span>/</span></li>
        <li><a href="../activity/activity.html">文化活动</a><span>/</span></li>
        <li><a href="../field/fieldlist.html">场馆服务</a><span>/</span></li>
        <li><a href="../train/train.html">培训驿站</a><span>/</span></li>
        <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a><span>/</span></li>
        <li><a href="../science/science.html">数字展馆</a><span>/</span></li>
        <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a><span>/</span></li>
        <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a><span>/</span></li>
        <li><a href="../union/union.html">文化馆联盟</a></li>
      </ul>
    </div>
  </div>
</div>
<!--公共主头部结束--> 

<div class="userHeader clearfix">
  <div class="header">
    <div class="userInfo">
      <h2>Hi,156****5144</h2>
      <div class="userClass"> <span class="ico i-1 tipso_top" title="已绑定手机"><a href="safely-phone.html"></a></span> <span class="ico i-2 tipso_top" title="已绑定电子邮箱"><a href="safely-email.html"></a></span> <span class="ico i-3 tipso_top" title="已绑实名认证"><a href="safely-userReal.html"></a></span> <span class="ico i-4 tipso_top" title="团队账号"><a href="#"></a></span> <span class="ico i-5 unBind tipso_top" title="未认证艺术资质"><a href="#"></a></span> <span class="ico i-6 unBind tipso_top" title="未认证企业资质"><a href="#"></a></span> </div>
    </div>
  </div>
</div>
<div class="main main-boder clearfix">
  <div class="leftPanel">
    <ul>
      <li><a href="userInfo.html"><em class="ico i-1"></em>基本信息</a></li>
      <li><a href="order.html"><em class="ico i-2"></em>我的订单</a></li>
      <li><a href="activity.html"><em class="ico i-6"></em>我的活动</a></li>
      <li class="active"><a href="curriculum.html"><em class="ico i-3"></em>我的课程</a></li>
      <li><a href="favorite.html"><em class="ico i-8"></em>我的收藏</a></li>
      <li><a href="comment.html"><em class="ico i-7"></em>我的点评</a></li>
      <li><a href="message.html"><em class="ico i-4"></em>我的消息</a></li>
      <li><a href="safely.html"><em class="ico i-5"></em>安全设置</a></li>
    </ul>
  </div>
  <div class="rightPanel">
    <ul class="commBtn clearfix">
      <li><a href="curriculum.html">报名中</a></li>
      <li class="active"><a href="curriculumExamine.html">审核中</a></li>
      <li><a href="curriculumReady.html">已报名</a></li>
    </ul>
    <div class="sysmsg">
       <div class="ad"></div>
       <p>暂无报名审核的课程</p>
    </div>
    <ul class="group clearfix">
      <li class="item">
        <div class="orderCont clearfix">
          <div class="orderTime">2016-09-29 18:40</div>
          <div class="orderNum">类型 : <span>文化惠民</span></div>
          <div class="orderType">审核中</div>
        </div>
        <div class="msgInfoCont">
          <h2><a href="#" target="_blank">广东文化馆吉它培训中心寒假免费招生</a></h2>
          <div class="clearfix">
              <div class="timeOver">
                <div class="thisTime" style="width:30%"></div>
              </div>
              <div class="timeMsg">已进行<i>3</i>周，共<i>8</i>周</div>
          </div>
          <p>地址 :<span>广东市文化馆艺术中心人民路0052号</span></p>
          <a class="orderKick js__p_orderKick_start" href="javascript:void(0)">取消报名</a>
        </div>
      </li>
      <li class="item">
        <div class="orderCont clearfix">
          <div class="orderTime">2016-09-29 18:40</div>
          <div class="orderNum">类型 : <span>直播</span></div>
          <div class="vedioIco"></div>
          <div class="orderType">审核中</div>
        </div>
        <div class="msgInfoCont">
          <h2><a href="#" target="_blank">专题讲座“用文字修复广东的记忆——广东市民社会生态与规则”</a></h2>
          <div class="clearfix">
              <div class="timeOver">
                <div class="thisTime" style="width:0%"></div>
              </div>
              <div class="timeMsg" id="i1"><i id="time_d"></i>天<i id="time_h"></i>小时<i id="time_m"></i>分 后开课</div>
          </div>
          <p>地址 :<span>广东市文化馆艺术中心人民路0052号</span></p>
          <a class="orderKick js__p_orderKick_start" href="javascript:void(0)">取消报名</a>
        </div>
      </li>
      <li class="item err-border">
        <div class="orderCont clearfix">
          <div class="orderTime">2016-09-29 18:40</div>
          <div class="orderNum">类型 : <span>直播</span></div>
          <div class="vedioIco"></div>
          <div class="orderType error">
          	审核失败
            <div class="err-msg none"><i></i>不符合报名条件，上传的资料不真实</div>
          </div>
        </div>
        <div class="msgInfoCont">
          <h2><a href="#" target="_blank">dota2 WCG 中国赛区培训班</a></h2>
          <div class="clearfix">
              <div class="timeOver">
                <div class="thisTime" style="width:33%"></div>
              </div>
              <div class="timeMsg">已进行<i>1</i>周，共<i>3</i>周</div>
          </div>
          <p>地址 :<span>广东市文化馆艺术中心人民路0052号</span></p>
          <a class="orderKick js__p_orderKick_start" href="javascript:void(0)">取消报名</a>
        </div>
      </li>
    </ul>
    <div class="green-black"> <span class="disabled">&lt; Prev</span> <span class="current">1</span> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> <a href="#?page=6">6</a> <a href="#?page=7">7</a>... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">Next 
      &gt; </a></div>
  </div>
</div>

<!-- core public JavaScript --> 
<script src="../../assets/js/public/jquery-1.11.0.min.js"></script> 
<script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script> 
<script src="../../assets/js/public/rong-dialog.js"></script>
<script src="../../assets/js/plugins/tipso/tipso.js"></script> 
<script src="../../assets/js/userCenter/public.js"></script> 
<script src="../../assets/js/userCenter/curriculum.js"></script>
<script>
	show_time("#i1","2016/11/05 00:00:00");
</script>
</body>
</html>
