<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/museum/museum.css" rel="stylesheet">
<title>广东省数字文化馆-馆务公开-馆办团队-团队介绍</title>
<!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/plugins/roll/jquery.sly.min.js"></script>
    <script src="../../assets/js/museum/museum.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li class="active"><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small">
                <a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="museum.html">省馆介绍</a></li>
                <li><a href="museum-jigou.html">组织机构</a></li>
                <li><a href="policy.html">政策法规</a></li>
                <li><a href="guide.html">业务指南</a></li>
                <li class="active"><a href="museum-tuanduiliebiao.html">馆办团队</a></li>
                <li class="last"><a href="museum-yijian.html">意见反馈</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
    <div class="main-info-container">
        <div class="team">
            <div class="team-pre clearfix">
                <h3><span>团队介绍</span></h3>
                <div class="img">
                    <img src="../../assets/img/img_demo/team1.jpg">
                </div>
                <div class="detail">
                    <h2>文化馆艺术团队</h2>
                    <p>团队地址：<span>广东省文化馆</span></p>
                    <p>联系方式：<span>0736 - 123456789</span></p>
                    <p>自参加工作以来，全身心投入教学，在工作中勤勤恳恳，踏踏实实，不计较个人得失，早来晚走，以校为家.。历年 教学成绩都在
                        全镇个列人生格言：有人把教师比喻成蜡烛，照亮了别人燃烧了自己。我认为只有此时，我们才真正拥有了一切。  人生格言是：
                        今天的积蕴。<br>
                        是为了明天的放飞，还有什么比看着自己的学生飞得更高、更快、更远，更令教师欣慰的呢？</p>
                </div>
            </div>
            <div class="team-pre clearfix">
                <h3><span>团队荣誉</span></h3>
                <div class="list">
                    <ul>
                        <li>
                            <span>01.</span>2016年在某某地获得某某大赛奖
                        </li>
                        <li>
                            <span>02.</span>2016年在某某地获得某某大赛奖
                        </li>
                        <li>
                            <span>03.</span>2016年在某某地获得某某大赛奖
                        </li>
                        <li>
                            <span>04.</span>2016年在某某地获得某某大赛奖确实是大奖
                        </li>
                        <li>
                            <span>05.</span>2016年在某某地获得某某大赛奖什么之类的大奖类
                        </li>
                    </ul>
                </div>
            </div>
            <div class="team-pre clearfix">
                <h3><span>团队详细介绍</span></h3>
                <p>由中国歌剧舞剧院考级委员会主办，广东省文化馆和炫星艺术文化传媒有限公司共同承办的中国歌剧舞剧院（广东省）舞蹈等级考试师资培训班在佛山市南海区松
                    岗镇成功举办。本次培训班由中国歌剧舞剧院国家一级舞蹈演员狄俊民担任授课老师，授课内容为中国歌剧舞剧院考级委员会中国舞1～4级考级教材，来自广东省
                    文化教育领域的近20多名舞蹈教师和舞蹈专业生参加了本次培训班。由于此项教材为狄老师本人所编，因此在施教中如鱼得水、入木三分，使全体学员能够在较短
                    的时间内完成繁重的学习任务，顺利地通过了结业考核。 基础教育是孩子们进入艺术殿堂非常重要的一步，指导者自身业务水平的高低和教学方法的正确与否，将
                    直接关系到孩子们艺术学习的未来发展，乃至影响其一生。本次培训旨在提高基层舞蹈等级考试辅导教师的教学水平，进一步规范教学模式， 通过对老师更规范的
                    教学培训，来提高孩子们的舞蹈素质，体现“健康、科学”的舞蹈教育理念，推动我省舞蹈普及教育事业的繁荣和发展。 术文化传媒有限公司共同承办的中国歌剧
                    舞剧院（广东省）舞蹈等级考试师资培训班在佛山市南海区松岗镇成功举办。</p>
            </div>
            <div class="team-pre clearfix">
                <h3>
                    <span>团队成员</span>
                    <div class="pre-right">
                        <i class="kx-arrow kx-arrow-left">
                            <em></em>
                            <span></span>
                        </i>
                    </div>
                    <div class="pre-left">
                        <i class="kx-arrow kx-arrow-right">
                            <em></em>
                            <span></span>
                        </i>
                    </div></h3>
                <div class="members-list">
                    <ul class="clearfix">
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo1.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>罗马通</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo2.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>雅典娜</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo3.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>圣莉雅</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo4.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>亚里斯</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo1.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>罗马通</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo2.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>雅典娜</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo3.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>圣莉雅</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                        <li>
                            <div class="logo">
                                <i>
                                    <img src="../../assets/img/img_demo/chengyuan-logo4.png">
                                </i>
                            </div>
                            <div class="name">
                                <span>亚里斯</span>
                            </div>
                            <div class="detail-text">
                                <p>工作中勤勤恳恳，踏踏实实，不计的
                                    较个人得失，早来晚走，以校为家是
                                    。历年教学成绩都在全镇前列。人个
                                    生格言：有人把教师比喻成蜡烛，啊
                                    照亮了别人燃烧了自己。我认为只和
                                    有此时，我们才真正拥有了一切。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="team-pre clearfix">
                <h3><span>团队图片</span><div class="pre-right1"><i class="kx-arrow kx-arrow-left"><em></em><span></span></i></div>
                    <div class="pre-left1"><i class="kx-arrow kx-arrow-right"><em></em><span></span></i></div></h3>
                <div class="img-list">
                    <ul class="clearfix">
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img1.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img2.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img3.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img4.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img1.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img2.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img3.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img4.jpg)">
                                    <div class="mask">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="team-pre clearfix">
                <h3><span>团队视频</span><div class="pre-right2"><i class="kx-arrow kx-arrow-left"><em></em><span></span></i></div>
                    <div class="pre-left2"><i class="kx-arrow kx-arrow-right"><em></em><span></span></i></div></h3>
                <div class="video-list">
                    <ul class="clearfix">
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img1.jpg)">
                                    <div class="mask">
                                        <img src="../../assets/img/public/vedioBg.png">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img2.jpg)">
                                    <div class="mask">
                                        <img src="../../assets/img/public/vedioBg.png">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img3.jpg)">
                                    <div class="mask">
                                        <img src="../../assets/img/public/vedioBg.png">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img4.jpg)">
                                    <div class="mask">
                                        <img src="../../assets/img/public/vedioBg.png">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="img" style="background-image: url(../../assets/img/img_demo/tuandui-img1.jpg)">
                                    <div class="mask">
                                        <img src="../../assets/img/public/vedioBg.png">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
<a class="to-top"></a>
</body>
</html>