<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>广东省数字文化馆-馆务公开-省馆介绍</title>
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/museum/museum.css" rel="stylesheet">
<!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li class="active"><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
            <div class="searchContLt">
            	<input class="searchInput" placeholder="搜您喜欢的...">
                <a href="javascript:void(0)" class="searchBtn"></a>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small">
                <a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li class="active"><a href="museum.html">省馆介绍</a></li>
                <li><a href="museum-jigou.html">组织机构</a></li>
                <li><a href="policy.html">政策法规</a></li>
                <li><a href="guide.html">业务指南</a></li>
                <li><a href="museum-tuanduiliebiao.html">馆办团队</a></li>
                <li class="last"><a href="museum-yijian.html">意见反馈</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
    <div class="main-info-container">
        <div class="page-banner">
            <img src="../../assets/img/img_demo/shengguanjieshao-banner.jpg">
        </div>
        <div class="page-detail">
            <h1>广东省文化馆简介</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广东省文化馆（原名广东省群众艺术馆）成立于1956年，是广东省人民政府设立的专门从事辅导、指导、研究群众文化艺术活动和培训业务骨干，为广大人民群众提供公共文化服务的公益一类事业单位。2005年12月经省编办批准，加挂广东省非物质文化遗产保护中心牌子。核定事业编制50名。<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要职能包括：组织开展具有导向性、示范性的群众文化艺术活动；辅导农村、社区、企业等开展群众文化活动，辅导、培训辖区内文化馆、站业余干部及文艺活动业务骨干；组织、指导、研究群众性文艺创作活动；组织开展群众文艺理论研究，搜集、整理、保护民族民间文化艺术遗产；执行全省非物质文化遗产保护的规划、计划和工作规范，组织实施全省非物质文化遗产的普查、认定、申报、保护和交流传播工作；指导基层文化馆工作及群众业余文艺团队建设，为基层文化馆提供文化资源和文化服务；推进文化馆数字化、信息化平台建设，建立信息资源共享机制，开展数字文化信息服务；开展对外文化交流；完成上级交办的其他工作等。馆内设活动策划部、培训辅导部、创作调研部、信息技术部、团队管理部、省非物质文化遗产保护中心办公室、行政办公室等七个部室。<br><br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构建现代公共文化服务体系，是十八届三中全会关于文化领域改革的一项重要任务。积极投身现代公共文化服务体系建设是广东省文化馆义不容辞的责任。在中央大力推动文化事业大繁荣、大发展的新形势下，广东省文化馆将在省委、省政府和省文化厅的领导下，紧紧围绕党和政府的中心工作，坚持“面向现代化、面向世界、面向未来”，“民族的、科学的、大众的”社会主义文化发展方向，继续完善和创新现代公共文化服务，对内提高素质，对外树立形象，进一步发挥好省馆的龙头示范作用，为我省经济发展和社会进步，为团结全省广大群众齐心协力实现“伟大中国梦”提供一份精神动力和智力支持。</p>
        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>