<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/museum/museum.css" rel="stylesheet">
<title>广东省数字文化馆-馆务公开-意见反馈</title>
<!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li class="active"><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small">
                <a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="museum.html">省馆介绍</a></li>
                <li><a href="museum-jigou.html">组织机构</a></li>
                <li><a href="policy.html">政策法规</a></li>
                <li><a href="guide.html">业务指南</a></li>
                <li><a href="museum-tuanduiliebiao.html">馆办团队</a></li>
                <li class="last active"><a href="museum-yijian.html">意见反馈</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">

    <div class="main-info-container">
        <div class="page-banner page-banner-yijian">
            <img src="../../assets/img/museum/yijianfankui.jpg">
        </div>
        <div class="page-con page5-con4">
            <div class="form-table">
                <ul>
                    <li class="clearfix">
                        <div class="wenzi">意见反馈</div>
                        <div class="input1">
                            <textarea type="text"placeholder="留下您的意见 我们提供更好的服务..."></textarea>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi">姓名</div>
                        <div class="input1">
                            <input type="text"placeholder="请输入联系人姓名">
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi">单位</div>
                        <div class="input1">
                            <input type="text"placeholder="请输入贵公司联系地址">
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi">联系电话</div>
                        <div class="input1">
                            <input type="text"placeholder="请输入联系人电话">
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi">电子邮箱</div>
                        <div class="input1">
                            <input type="text"placeholder="请输入正确的邮箱地址">
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi">验证码</div>
                        <div class="input1">
                            <input class="vfcode" type="text"placeholder="请输入验证码">
                            <span><img src="../../assets/img/img_demo/yanzhen.jpg" alt="验证码"></span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="wenzi"></div>
                        <div class="input1">
                            <input class="btn" type="button" value="提交">
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>