<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="../../assets/css/public/reset.css" rel="stylesheet">
    <link href="../../assets/css/museum/museum.css" rel="stylesheet">
    <title>广东省数字文化馆-馆务公开-组织机构</title>
    <!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/plugins/roll/jquery.sly.min.js"></script>
    <script src="../../assets/js/museum/museum.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li class="active"><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small">
                <a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="museum.html">省馆介绍</a></li>
                <li class="active"><a href="museum-jigou.html">组织机构</a></li>
                <li><a href="policy.html">政策法规</a></li>
                <li><a href="guide.html">业务指南</a></li>
                <li><a href="museum-tuanduiliebiao.html">馆办团队</a></li>
                <li class="last"><a href="museum-yijian.html">意见反馈</a></li>
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div class="main-info-bg main-info-no-padding main-info-bgColorW">
    <div class="banner" style="background-image: url(../../assets/img/museum/zuzhijigou.jpg)">
        <div class="personnel-list">
            <ul>
                <li class="clearfix">
                    <!--<div class="con-left">
                        <div class="img">
                            <img src="../../assets/img/img_demo/zuzhijigou1.jpg">
                        </div>
                    </div>-->
                    <div class="con-right">
                        <div class="detail">
                            <h2>王惠君</h2>
                            <p>广东省文化馆-馆长  主持全面工作，分管信息技术部。</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <!--<div class="con-left">
                        <div class="img">
                            <img src="../../assets/img/img_demo/zuzhijigou1.jpg">
                        </div>
                    </div>-->
                    <div class="con-right">
                        <div class="detail">
                            <h2>王惠君</h2>
                            <p>广东省文化馆-馆长  主持全面工作，分管信息技术部。</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <!--<div class="con-left">
                        <div class="img">
                            <img src="../../assets/img/img_demo/zuzhijigou1.jpg">
                        </div>
                    </div>-->
                    <div class="con-right">
                        <div class="detail">
                            <h2>王惠君</h2>
                            <p>广东省文化馆-馆长  主持全面工作，分管信息技术部。</p>
                        </div>
                    </div>
                </li>
            </ul>
                <ul class="pages">
                    <li class="active"><i></i></li>
                    <li><i></i></li>
                    <li><i></i></li>
                </ul>
        </div>
    </div>
</div>
<div class="public-information-container">
	<h1>广东省文化馆部门职能</h1>
	<ul>
    	<li>
        	<i></i>
        	<h2>行政办公室：</h2>
            <p>协助馆领导做好日常行政事务和管理工作。做好相关文件的上传下达；负责文秘、文印、公章管理、人事、综合档案等工作；负责馆财务和固定资产管理、政府采购工作；做好全馆卫生、计生、安全保卫、老干等管理工作；督促落实各项规章制度并做好相关制度的修订、完善工作；做好大型群众文化活动的组织、协调和后勤管理工作；协助做好党务、工会和团支部工作。
</p>
        </li>
        <li>
        	<i></i>
        	<h2>培训辅导部：</h2>
            <p>负责基层文艺骨干和群众文艺爱好者的培训辅导工作。承担上级交办的群众文化培训和辅导任务；组织开展全省性的群众文化艺术辅导和培训活动；组织策划面向社会公众的各类免费艺术培训班；为基层文化馆站培养群众文化业务骨干提供必要的帮助；负责省馆艺术考级工作的组织、实施。
</p>
        </li>
        <li>
        	<i></i>
        	<h2>活动策划部：</h2>
            <p>负责各项群众文化活动的组织、策划、实施工作。完成上级下达的群众文化活动任务；组织开展各类生动活泼、为群众喜闻乐见的文化活动；为基层文化馆站开展群众文化活动提供指导和帮助；为全省群众文化活动项目和人才的交流搭建良好平台；开展全省群众文化活动调查研究。</p>
        </li>
        <li>
        	<i></i>
        	<h2>信息技术部：</h2>
            <p>负责群文活动信息收集、管理及本馆网站的建设、维护工作。负责各项群众文化活动的摄录工作；收集、整理、发布全省群众文化活动信息；设计、制作各项活动的背景板、宣传册及相关宣传资料；全馆办公设备、网络的管理和维护。
</p>
        </li>
        <li>
        	<i></i>
        	<h2>创作调研部：</h2>
            <p>负责全省群众文艺创作和调研工作。对全省群众文艺发展情况进行调研；为基层群众文艺研究和创作提供指导和帮助；负责广东省文化馆特聘创作员队伍的管理；负责全省美术、书法、摄影作品联展的组织和实施；完成本馆的创作计划和创作任务；负责《广东社会文化》的编辑和出版工作。</p>
        </li>
        <li>
        	<i></i>
        	<h2>广东省非物质文化遗产保护中心办公室：</h2>
            <p>负责省非物质文化遗产保护中心的日常工作。执行全省非物质文化遗产保护的规划、计划和工作规范；组织实施和指导开展全省非物质文化遗产的普查、认定、申报、保护和交流传播工作。</p>
        </li>
        <li>
        	<i></i>
        	<h2>团队管理部：</h2>
            <p>负责广东省文化志愿者队伍管理工作。承担广东省文化志愿者总队日常管理工作；组织文化志愿者开展各种文化志愿服务活动；为有需要的社会群众文化团体提供必要的辅导和帮助。</p>
        </li>
    </ul>
</div>
<hr class="strongHr">
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>