<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link href="../../assets/css/public/reset.css" rel="stylesheet">
<link href="../../assets/css/museum/guide.css" rel="stylesheet">
<title>广东省数字文化馆-馆务公开-政策法规</title>
<!-- core public JavaScript -->
	<script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<body>
<!--公共主头部开始--> 
<div id="header-sm">
	<div class="header-nav-top-bg">
    	<div class="header-nav">
        	<ul>
            	<li><a href="../index.html">首页</a></li> 
                <li class="active"><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li> 
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
    	<div class="header-nav">
        	<div class="logo-small">
            	<a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li><a href="museum.html">省馆介绍</a></li>
                <li><a href="museum-jigou.html">组织机构</a></li>
                <li class="active"><a href="policy.html">政策法规</a></li>
                <li><a href="guide.html">业务指南</a></li>
                <li><a href="museum-tuanduiliebiao.html">馆办团队</a></li>
                <li class="last"><a href="museum-yijian.html">意见反馈</a></li>
              </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--资讯广告开始-->
<div class="public-information-ad" style="background:url(../../assets/img/museum/adBanner2.jpg) no-repeat 50% 50%">
	<div class="posi-fix">
    	<div class="titleBg" style="background:url(../../assets/img/museum/title-bg-2.png) no-repeat 50% 50%;"></div>
    </div>
</div>
<div class="public-information-container">
	<ul>
    	<li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>各省、自治区、直辖市人民政府，国务院各部委、各直属生机构，加快农业转移人口市民化，是推进以人为核心的新型城镇化的首要任务，是破解城乡二元结构的根本途径，是扩内需根......</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>中新社广州7月27日电 (索有为 黄应来)广东省省长朱小丹27日在广东自贸试验区领导小组举行的第四次会议上表示，广东自贸区要在投资、贸易、金融、知识产权、监管、竞争中立等方面，对接国际高标准投资贸易规则体系的具体措施和政策建议，为自贸试验区下一步制度创新找到突破口和发力点。</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>中新网广东8月11日电 (李映民李获)中共广东广东市委书记吕业升11日在该市市委中心组(扩大)专题学习会上表示，广东将发挥加工贸易这一传统优势，推动加工贸易就地转型创新发展。</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>逾20名拉美国家华侨社团领袖21日开启为期3天的广东考察之旅，将在广州、佛山、深圳等珠三角城市寻觅商机，加强与广东企业的对接合作。</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>各省、自治区、直辖市人民政府，国务院各部委、各直属生机构，加快农业转移人口市民化，是推进以人为核心的新型城镇化的首要任务，是破解城乡二元结构的根本途径，是扩内需根......</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>中新社广州7月27日电 (索有为 黄应来)广东省省长朱小丹27日在广东自贸试验区领导小组举行的第四次会议上表示，广东自贸区要在投资、贸易、金融、知识产权、监管、竞争中立等方面，对接国际高标准投资贸易规则体系的具体措施和政策建议，为自贸试验区下一步制度创新找到突破口和发力点。</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>中新网广东8月11日电 (李映民李获)中共广东广东市委书记吕业升11日在该市市委中心组(扩大)专题学习会上表示，广东将发挥加工贸易这一传统优势，推动加工贸易就地转型创新发展。</p>
        </li>
        <li>
        	<i></i>
        	<h2><a href="infoDesc.html">广东省省级交通运输行政许可项目目录及审批项目办理指南</a></h2>
            <p>逾20名拉美国家华侨社团领袖21日开启为期3天的广东考察之旅，将在广州、佛山、深圳等珠三角城市寻觅商机，加强与广东企业的对接合作。</p>
        </li>
    </ul>
    <div class="green-black"> 
            <span class="disabled prev">&nbsp;</span>
            <span class="current">1</span>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a>
            <a href="#?page=4">4</a>
            <a href="#?page=5">5</a>
            <a href="#?page=6">6</a>
            <a href="#?page=7">7</a>...
            <a href="#?page=199">199</a>
            <a href="#?page=200">200</a>
            <span class="disabled next">&nbsp;</span></div>
</div>
<hr class="strongHr">
<!--资讯广告结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>