<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatoo.hn.mapper.CommonMapper">
	<!-- 分页查询培训模板 -->
	<select id="searchGlobalContent" parameterType="java.util.HashMap" resultType="hashmap">
		<!-- select id, title, srchtype, type from (
			select t1.actvid as id, t1.actvtitle as title, '文化活动' as srchtype, '1' as type
			from wh_activity t1 where t1.actvstate = 3
			union
			select t2.traid as id, t2.tratitle as title, '培训驿站' as srchtype, '2' as type
			from wh_train t2 where t2.trastate = 3
			union
			select t3.venid as id, t3.venname as title, '场馆预定' as srchtype, '3' as type
			from wh_venue t3 where t3.venstate = 3
			union 
			select t4.exhid as id, t4.exhtitle as title, '数字展馆' as srchtype, '4' as type
			from wh_art_exhibition t4 where t4.exhstate = 3
			/*union
			select t5.artistid as id, t5.artistname as title, '个人文化展' as srchtype, '5' as type from wh_user_artist t5
			union 
			select t6.mageid as id, t6.magetitle as title, '电子杂志' as srchtype, '6' as type from wh_magezine t6*/
		) t 
		<if test="srchkey != null">
	      where t.title like #{srchkey}
	    </if> -->
	    select id, title, srchtype, type from (
			select t1.id as id, t1.`name` as title, '文化活动' as srchtype, '1' as type
			from whg_act_activity t1 where t1.state = 6
			union
			select t2.id as id, t2. title as title, '培训驿站' as srchtype, '2' as type
			from whg_tra t2 where t2.state = 6
			union
			select t3.id as id, t3.title as title, '场馆预定' as srchtype, '3' as type
			from whg_ven t3 where t3.state = 6 
			union
			select t4.clnfid as id, t4.clnftltle as title, '活动资讯' as srchtype, '4' as type
			from wh_zx_colinfo t4 where t4.clnfstata = 3 and t4.clnftype = '2016111900000018' 
			union
			select t5.id as id, t5.`name` as title, '文化品牌' as srchtype, '5' as type
			from whg_ywi_whpp t5 where t5.state = 1 and t5.delstate = 0 
			union
			select t6.id as id, t6.`name` as title, '文化馆' as srchtype, '6' as type
			from whg_sys_cult t6 where t6.state = 1 and t6.delstate = 0 
			UNION 
			select t7.clnfid as id, t7.clnftltle as title, '资讯公告' as srchtype, '7' as type
			from wh_zx_colinfo t7 where t7.clnfstata = 3 and t7.clnftype = '2016111900000014'    
			UNION 
			select t8.clnfid as id, t8.clnftltle as title, '资讯动态' as srchtype, '8' as type
			from wh_zx_colinfo t8 where t8.clnfstata = 3 and t8.clnftype = '2016111900000002' 
			UNION 
			select t9.clnfid as id, t9.clnftltle as title, '培训公告' as srchtype, '9' as type
			from wh_zx_colinfo t9 where t9.clnfstata = 3 and t9.clnftype = '2016111900000020'  
			UNION 
			select t10.clnfid as id, t10.clnftltle as title, '培训资讯' as srchtype, '10' as type
			from wh_zx_colinfo t10 where t10.clnfstata = 3 and t10.clnftype = '2016111900000021' 
			UNION 
			select t11.clnfid as id, t11.clnftltle as title, '非遗公告' as srchtype, '11' as type
			from wh_zx_colinfo t11 where t11.clnfstata = 3 and t11.clnftype = '2016112200000004' 
			UNION 
			select t12.clnfid as id, t12.clnftltle as title, '志愿资讯' as srchtype, '12' as type
			from wh_zx_colinfo t12 where t12.clnfstata = 3 and t12.clnftype = '2016112200000009' 
			UNION 
			select t13.drscid as id, t13.drsctitle as title, '在线点播' as srchtype, '13' as type 
			from wh_drsc t13 where t13.drscstate = 3  
			) t  
			<if test="srchkey != null">
		      where t.title like #{srchkey}
		    </if>
	</select>
</mapper>