<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creatoo.hn.mapper.WhBranchMapper" >

    <select id="getBranchListAll" resultType="hashmap">
        SELECT
            wb.id,
            wb.name,
            wb.areaid,
            wb.contacts,
            wb.contactway,
            wb.lastoperator,
            wb.operatetime,
            wb.state
        FROM wh_branch wb
        <where>
            1 = 1
            <if test="param.name != null">
                AND wb.name = #{param.name}
            </if>
            <if test="param.state != null">
                AND wb.state = #{param.state}
            </if>
        </where>
        ORDER BY wb.operatetime DESC
    </select>

</mapper>