<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creatoo.hn.mapper.WhBranchRelMapper" >

    <delete id="delByParam">
        DELETE FROM wh_branch_rel
        <where>
            1 = 1
            <if test="param.relid != null">
                AND relid = #{param.relid}
            </if>
            <if test="param.reltype != null">
                AND reltype = #{param.reltype}
            </if>
            <if test="param.branchid != null">
                AND branchid = #{param.branchid}
            </if>
        </where>
    </delete>

    <select id="getWhBranchRelByUserId" resultType="hashmap">
        SELECT
            wb.id,
            wb.relid,
            wb.reltype,
            wb.branchid
        FROM wh_user_branch_rel wu,wh_branch_rel wb
        <where>
            wu.branchid = wb.branchid
            <if test="param.userId != null">
                AND wu.userid = #{param.userId}
            </if>
            <if test="param.relType != null">
                AND wb.reltype = #{param.relType}
            </if>
        </where>
    </select>

</mapper>