<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creatoo.hn.mapper.WhScanCollectionMapper" >

      <select id="getWhScanCollectionByParam" resultType="com.creatoo.hn.model.WhScanCollection">
        SELECT
            id,
            relid,
            reltype,
            recordtime,
            violationtype,
            recordstate,
            useid
        FROM wh_scan_collection
        <where>
          1 = 1
          <if test="whScanCollection.id != null">
            AND id = #{whScanCollection.id}
          </if>
          <if test="whScanCollection.relid != null">
            AND relid = #{whScanCollection.relid}
          </if>
          <if test="whScanCollection.reltype != null">
            AND reltype = #{whScanCollection.reltype}
          </if>
          <if test="whScanCollection.recordtime != null">
            AND recordtime = #{whScanCollection.recordtime}
          </if>
          <if test="whScanCollection.violationtype != null">
            AND violationtype = #{whScanCollection.violationtype}
          </if>
          <if test="whScanCollection.recordstate != null">
            AND recordstate = #{whScanCollection.recordstate}
          </if>
            <if test="whScanCollection.useid != null">
                AND useid = #{whScanCollection.useid}
            </if>
        </where>
      </select>

       <select id="getActIllegalOrder" resultType="hashmap">
          <choose>
              <when test="violationtype == 1">
                  SELECT
                  *
                  FROM whg_act_order
                  <where>
                      id not in
                      <trim prefix="(" suffix=")">
                          select
                            relid
                          from wh_scan_collection
                          where
                            reltype = 1
                      </trim>
                      AND ticketstatus = 3
                  </where>
              </when>
              <otherwise>
                  SELECT
                    t.*
                  FROM
                  <trim prefix="(" suffix=")">
                        SELECT
                            *
                        FROM whg_act_order
                        WHERE
                            eventid IN
                            <trim prefix="(" suffix=")">
                                SELECT
                                    id
                                FROM whg_act_time
                                WHERE playendtime &lt; now()
                            </trim>
                        AND
                          id IN
                         <trim prefix="(" suffix=")">
                              SELECT
                              distinct wt.orderid
                              FROM whg_act_ticket wt
                              WHERE
                              wt.ticketstatus = 0
                          </trim>
                  </trim> t
                  <where>
                      t.ticketstatus != 3
                      AND t.id NOT IN
                      <trim prefix="(" suffix=")">
                          select
                          relid
                          from wh_scan_collection
                          where
                          reltype = 1
                      </trim>
                  </where>
              </otherwise>
          </choose>
       </select>

    <insert id="addIllegalOrder">
        INSERT INTO wh_scan_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="myParam.id != null">
                id,
            </if>
            <if test="myParam.relid != null">
                relid,
            </if>
            <if test="myParam.reltype != null">
                reltype,
            </if>
            recordtime,
            <if test="myParam.violationtype != null">
                violationtype,
            </if>
            <if test="myParam.recordstate != null">
                recordstate,
            </if>
            <if test="myParam.useid != null">
                useid,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="myParam.id != null">
                #{myParam.id},
            </if>
            <if test="myParam.relid != null">
                #{myParam.relid},
            </if>
            <if test="myParam.reltype != null">
                #{myParam.reltype},
            </if>
            now(),
            <if test="myParam.violationtype != null">
                #{myParam.violationtype},
            </if>
            <if test="myParam.recordstate != null">
                #{myParam.recordstate},
            </if>
            <if test="myParam.useid != null">
                #{myParam.useid},
            </if>
        </trim>
    </insert>

    <select id="getVenIllegalOrder" resultType="hashmap">
        SELECT
          *
        FROM whg_ven_room_order
        <where>
            timeday <![CDATA[<=]]> now()
            AND ticketcheckstate = 1
            AND id NOT IN
            <trim prefix="(" suffix=")">
                select
                relid
                from wh_scan_collection
                where
                reltype = 2
            </trim>
        </where>
    </select>

    <select id="getWhScanCollectionStatisticsResult" resultType="hashmap">
        SELECT
          count(*) as myCount,
          useid as useid,
          (SELECT phone FROM wh_user WHERE id = useid) as phone
        FROM wh_scan_collection
        <where>
            recordstate = 1
            <if test="reltype != null">
                AND reltype = #{reltype}
            </if>
            <if test="violationtype != null">
                AND violationtype = #{violationtype}
            </if>
        </where>
        GROUP BY useid
    </select>

    <select id="getRule" resultType="hashmap">
        SELECT
            id,
            cancelnum,
            cancelday,
            missnum,
            missday
        FROM whg_backlist_rule
    </select>

    <update id="updateBlackListState">
        UPDATE whg_usr_backlist SET
        state = #{state}
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateWhScanCollectionState">
        UPDATE wh_scan_collection SET
        recordstate = #{recordstate}
        <where>
            useid = #{userid} AND reltype = #{reltype} AND violationtype = #{violationtype}
        </where>
    </update>

</mapper>