<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creatoo.hn.mapper.WhScanCollectionMapper" >

      <select id="getWhScanCollectionByParam" resultType="com.creatoo.hn.model.WhScanCollection">
        SELECT
            id,
            relid,
            reltype,
            recordtime,
            violationtype,
            recordstate,
            useid
        FROM wh_scan_collection
        <where>
          1 = 1
          <if test="whScanCollection.id != null">
            AND id = #{whScanCollection.id}
          </if>
          <if test="whScanCollection.relid != null">
            AND relid = #{whScanCollection.relid}
          </if>
          <if test="whScanCollection.reltype != null">
            AND reltype = #{whScanCollection.reltype}
          </if>
          <if test="whScanCollection.recordtime != null">
            AND recordtime = #{whScanCollection.recordtime}
          </if>
          <if test="whScanCollection.violationtype != null">
            AND violationtype = #{whScanCollection.violationtype}
          </if>
          <if test="whScanCollection.recordstate != null">
            AND recordstate = #{whScanCollection.recordstate}
          </if>
            <if test="whScanCollection.useid != null">
                AND useid = #{whScanCollection.useid}
            </if>
        </where>
      </select>

       <select id="getActIllegalOrder" resultType="hashmap">
          <choose>
              <when test="violationtype == 1">
                  SELECT
                  *
                  FROM whg_act_order
                  <where>
                      id not in
                      <trim prefix="(" suffix=")">
                          select
                            relid
                          from wh_scan_collection
                          where
                            reltype = 1
                      </trim>
                      AND ticketstatus = 3
                  </where>
              </when>
              <otherwise>
                  SELECT
                    *
                  FROM
                  <trim prefix="(" suffix=")">
                        SELECT
                            *
                        FROM whg_act_order
                        WHERE
                            eventid IN
                            <trim prefix="(" suffix=")">
                                SELECT
                                    id
                                FROM whg_act_time
                                WHERE playendtime &lt; now()
                            </trim>
                        AND
                          id IN
                         <trim prefix="(" suffix=")">
                              SELECT
                              distinct wt.orderid
                              FROM whg_act_ticket wt
                              WHERE
                              wt.ticketstatus = 0
                          </trim>
                  </trim>
                  <where>
                      ticketstatus != 3
                      AND id not in
                      <trim prefix="(" suffix=")">
                          select
                          relid
                          from wh_scan_collection
                          where
                          reltype = 1
                      </trim>
                  </where>
              </otherwise>
          </choose>
       </select>

</mapper>