<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>广东省数字文化馆-志愿服务-活动列表</title>
    <link href="../../assets/css/public/reset.css" rel="stylesheet">
    <link href="../../assets/css/volunteer/fengcaizhanshi.css" rel="stylesheet">
    <!-- core public JavaScript -->
    <script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/public/jquery-migrate-1.0.0.js"></script>
    <script src="../../assets/js/volunteer/fengcaizhanshi.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
    <div class="header-nav-top-bg">
        <div class="header-nav">
            <ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li class="active"><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li>
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
        <div class="header-nav">
            <div class="logo-small"> <a href="#"><img src="../../assets/img/public/logoSmall.png"></a> </div>
            <ul>
                <li><a href="zhiyuanfuwuIndex.html">志愿服务</a></li>
                <li><a href="zhiyuanzixun.html">志愿资讯</a></li>
                <li class="active"><a href="huodongliebiao.html">志愿活动</a></li>
                <li><a href="zhiyuianpeixun.html">志愿培训</a></li>
                <li><a href="fengcaizhanshi.html">风采展示</a></li>
                <li><a href="tashanzhishi.html">他山之石</a></li>
                <li class="last"><a href="zhengcefagui.html">政策法规</a></li>
                <!--<li class="last add-nav">-->
                <!--<div class="nav-more">-->
                <!--<div><a href="tashanzhishi.html">他山之石</a></div>-->
                <!--<div><a href="zhengcefagui.html">政策法规</a></div>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--主体开始-->
<div id="content">
    <div class="categoryChange">
        <div class="row clearfix">
            <div class="title">区域</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">广州</a></span>
                <span class="item"><a href="javascript:void(0)">深圳</a></span>
                <span class="item"><a href="javascript:void(0)">广东</a></span>
                <span class="item"><a href="javascript:void(0)">珠海</a></span>
                <span class="item"><a href="javascript:void(0)">汕头</a></span>
                <span class="item"><a href="javascript:void(0)">佛山</a></span>
                <span class="item"><a href="javascript:void(0)">韶关</a></span>
                <span class="item"><a href="javascript:void(0)">河源</a></span>
                <span class="item"><a href="javascript:void(0)">梅州</a></span>
                <span class="item"><a href="javascript:void(0)">惠州</a></span>
                <span class="item"><a href="javascript:void(0)">汕尾</a></span>
                <span class="item"><a href="javascript:void(0)">中山</a></span>
                <span class="item"><a href="javascript:void(0)">江门</a></span>
                <span class="item"><a href="javascript:void(0)">阳江</a></span>
                <span class="item"><a href="javascript:void(0)">湛江</a></span>
                <span class="item"><a href="javascript:void(0)">茂名</a></span>
                <span class="item"><a href="javascript:void(0)">肇庆</a></span>
                <span class="item"><a href="javascript:void(0)">清远</a></span>
                <span class="item"><a href="javascript:void(0)">潮州</a></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="title">类型</div>
            <div class="adrList">
                <span class="item active"><a href="javascript:void(0)">全部</a></span>
                <span class="item"><a href="javascript:void(0)">演出</a></span>
                <span class="item"><a href="javascript:void(0)">展览</a></span>
                <span class="item"><a href="javascript:void(0)">讲座</a></span>
                <span class="item"><a href="javascript:void(0)">艺术</a></span>
            </div>
        </div>
    </div>
    <div class="active-list container">
        <div class="con">
        	<div class="public-no-message"></div>
            <ul class="clearfix">
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/fengcaizhanshi.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>周琦</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/topic2.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>周琦</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/fengcaizhanshi.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>程燕华</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/topic4.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>周琦</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/fengcaizhanshi.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>程燕华</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/topic6.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>周琦</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/fengcaizhanshi.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>程燕华</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/topic8.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>周琦</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
                <li>
                    <a href="huodongxiangqing.html">
                        <div class="img" style="background-image: url(../../assets/img/img_demo/fengcaizhanshi.jpg)">
                            <div class="mask"></div>
                        </div>
                    </a>
                    <div class="detail">
                        <h2>程燕华</h2>
                        <p>服务地区：<span>广东省韶关市乳源瑶族自治县</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav"> <span><a href="#">意见反馈</a><span>|</span></span> <span><a href="#">免责声明</a><span>|</span></span> <span><a href="#">联系我们</a><span>|</span></span> <span><a href="#">访问旧版</a></span></p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>