<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>广东省数字文化馆-志愿服务</title>
    <link href="../../assets/css/public/reset.css" rel="stylesheet">
    <link href="../../assets/css/volunteer/zhiyuanfuwuIndex.css" rel="stylesheet">
    <script src="../../assets/js/public/jquery-1.11.0.min.js"></script>
	<script src="../../assets/js/plugins/roll/jquery.sly.min.js"></script>
    <script src="../../assets/js/volunteer/zhiyuanfuwuIndex.js"></script>
    <script src="../../assets/js/public/public.js"></script>
    <!--[if lt IE 9] >
    <script src="../../assets/js/plugins/ie/IE9.js"></script>
    <! [endif]]-->
</head>
<body>
<!--公共主头部开始-->
<div id="header-sm">
	<div class="header-nav-top-bg">
    	<div class="header-nav">
        	<ul>
            	<li><a href="../index.html">首页</a></li> 
                <li><a href="../museum/museum.html">馆务公开</a></li> 
                <li><a href="../information/notice.html">资讯动态</a></li> 
                <li><a href="../activity/activity.html">文化活动</a></li> 
                <li><a href="../field/fieldlist.html">场馆服务</a></li>
                <li><a href="../train/train.html">培训驿站</a></li> 
                <li><a href="../resource/resourceCatalog.html" target="_blank">数字资源</a></li>
<li><a href="../science/science.html">数字展馆</a></li> 
                <li><a href="../intangibleheritage/feiyizhongxin.html">非遗中心</a></li> 
                <li class="active"><a href="../volunteer/zhiyuanfuwuIndex.html">志愿服务</a></li>
                <li><a href="../union/union.html">文化馆联盟</a></li> 
            </ul>
            <div class="loginInfo none">
                <span><a href="#">登录</a></span>
                <span><a href="#">注册</a></span>
            </div>
            <div class="loginIn">
            	<span class="userName"><i></i><a href="../userCenter/userInfo.html">张学友</a></span>
                <span class="quit"><a href="javascript:void(0)">退出</a></span>
            </div>
        </div>
    </div>
    </div>
<div id="header-fix">
    <div class="header-nav-bg">
    	<div class="header-nav">
        	<div class="logo-small">
            	<a href="#"><img src="../../assets/img/public/logoSmall.png"></a>
            </div>
            <ul>
                <li class="active"><a href="zhiyuanfuwuIndex.html">志愿服务</a></li>
                <li><a href="zhiyuanzixun.html">志愿资讯</a></li>
                <li><a href="huodongliebiao.html">志愿活动</a></li>
                <li><a href="zhiyuianpeixun.html">志愿培训</a></li>
                <li><a href="fengcaizhanshi.html">风采展示</a></li>
                <li><a href="tashanzhishi.html">他山之石</a></li>
                <li class="last"><a href="zhengcefagui.html">政策法规</a></li>
                <!--<li class="last add-nav">-->
                <!--<div class="nav-more">-->
                <!--<div><a href="tashanzhishi.html">他山之石</a></div>-->
                <!--<div><a href="zhengcefagui.html">政策法规</a></div>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<!--公共主头部结束-->
<!--广告开始-->
<!--<div class="public_ad" style="background:url(../../assets/img/volunteer/zhiyuan-banner.jpg) no-repeat 50% 50%;"></div>-->
<!--广告结束-->
<div class="main-info-bg zhiyuanBg" style="background:url(../../assets/img/volunteer/zhiyuan-banner-2.jpg) no-repeat 50% 50%;">
    <div class="main-info-container">
        <div class="zhiyuan clearfix">
            <div class="number">
                <div class="num">
                    <span>13315</span>
                    <p>服务时间</p>
                </div>
                <div class="num">
                    <span>1321213</span>
                    <p>志愿者注册人数</p>
                </div>
                <div class="num">
                    <span>39000</span>
                    <p>志愿者组织</p>
                </div>
            </div>
            <div class="detail">
                <p>愿服务包含着深刻的互助精神，它提倡“互相帮助、助人自助”。</p>
                <p>进步精神是志愿服务精神的重要组成部分，志愿者通过参与志愿服务，使自己的能力得到提高，同时促进了社会的进步。</p>
            </div>
            <a href="javascript:void(0)"><span class="enter">加入志愿者</span></a>
        </div>
    </div>
</div>
<!--主体开始-->
<div class="main-info-bg bg-color">
    <div class="main-info-container main-info-title">
        <center><h2><span class="line-l"></span><span class="tt">最新动态</span><span class="line-r"></span></h2></center>
        <div class="news-cont clearfix">
            <div class="img">
            	<ul class="basic">
                	<li>
                        <div class="mask">
                            <a href="#">2016年度中国歌剧舞剧的院舞1</a>
                        </div>
                        <a href="#"><img src="../../assets/img/img_demo/activityindex1.jpg"></a>
                	</li>
                    <li>
                        <div class="mask">
                            <a href="#">2016年度中国歌剧舞剧的院舞2</a>
                        </div>
                        <a href="#"><img src="../../assets/img/img_demo/activityindex1.jpg"></a>
                	</li>
                </ul>
                <div class="btn-top btn-top-prev"></div>
                <div class="btn-top btn-top-next"></div>
            </div>
            <div class="newsGroups">
                <div class="tab">
                    <ul>
                        <li class="active">志愿公告</li>
                        <li>志愿资讯</li>
                    </ul>
                </div>
                <div class="detail on">
                    <ul>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审1</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">省文化厅方健宏厅长到省文化馆调研</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">广东省文化厅直属广东省文化馆2015年公开招聘面试相关事项公告</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuangonggaoxiangqing.html">广东省文化馆第一届理事会社会公众理事候选人招募公告</a><span>2016-10-25</span></li>
                    </ul>
                </div>
                <div class="detail">
                    <ul>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审2</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">省文化厅方健宏厅长到省文化馆调研</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">广东省文化厅直属广东省文化馆2015年公开招聘面试相关事项公告</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">关于举办2016年广东省广东省省级交通运输行政许可项目目录及审</a><span>2016-10-25</span></li>
                        <li><i></i><a href="zhiyuanzixunxiangqing.html">广东省文化馆第一届理事会社会公众理事候选人招募公告</a><span>2016-10-25</span></li>
                    </ul>
                </div>
                <div class="more">
                    <a class="public-more" href="zhiyuangonggao.html">MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-info-bg">
    <div class="main-info-container main-info-title">
        <div class="fengcai">
            <div class="fengcai-row fengcai-row1">
                <div class="content content1">
                    <div class="mask">
                        <a href="fengcaizhanshi.html">2016年度志愿活动舞剧的院舞</a>
                    </div>
                    <a href="fengcaizhanshi.html"><img src="../../assets/img/img_demo/zhiyuan1.jpg"></a>
                </div>
                <div class="content content2">
                    <div class="mask">
                        <a href="fengcaizhanshi.html">2016年度志愿活动舞剧的院舞</a>
                    </div>
                    <a href="fengcaizhanshi.html"><img src="../../assets/img/img_demo/zhiyuan4.jpg"></a>
                </div>
            </div>
            <div class="fengcai-row fengcai-row2">
                <div class="content content1">
                    <div class="mask">
                        <a href="fengcaizhanshi.html">2016年度志愿活动舞剧的院舞</a>
                    </div>
                    <a href="fengcaizhanshi.html"><img src="../../assets/img/img_demo/zhiyuan2.jpg"></a>
                </div>
                <div class="content content2">
                    <div class="mask">
                        <a href="fengcaizhanshi.html">2016年度志愿活动舞剧的院舞</a>
                    </div>
                    <a href="fengcaizhanshi.html"><img src="../../assets/img/img_demo/zhiyuan3.jpg"></a>
                </div>
            </div>
            <div class="fengcai-row fengcai-row3">
                <div class="content content2">
                    <div class="mask">
                        <a href="fengcaizhanshi.html">2016年度志愿活动舞剧的院舞</a>
                    </div>
                    <a href="fengcaizhanshi.html"><img src="../../assets/img/img_demo/zhiyuan5.jpg"></a>
                </div>
                <div class="content content1">
                    <div class="infocon">
                        <h3>风采展示</h3>
                        <div class="label">
                            <a href="xiangmushifan.html">项目示范</a>
                            <a href="xianjingeren.html">先进个人</a>
                            <a href="youxiuzuzhi.html">优秀组织</a>
                            <a href="fengcaizhanshi.html">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--主体结束-->
<!--底部开始-->
<div class="footer-container">
	<div class="public-footer clearfix">
    	<div class="footer-sydw"></div>
    	<div class="footer-nav-bar">
        	<p class="nav">
            	<span><a href="#">意见反馈</a><span>|</span></span>
                <span><a href="#">免责声明</a><span>|</span></span>
                <span><a href="#">联系我们</a></span>
            </p>
            <p>地址：广东省文化馆（原天海商务大夏）B座413室   服务热线：0757-83031837</p>
            <p>Copyright 2005-2016 GDWH.GOV.CN All right reserved. 广东省文化馆 版权所有 <a href="www.miitbeian.gov.cn" target="_blank">粤ICP备16019011号-1</a></p>
      <p>友情提示：建议使用Chrome或IE8+浏览器对本站点进行浏览</p>
        </div> 
        <div class="sns-bar">
        	<span class="ft-ico weixin">
            	<div class="code">
                	<img src="../../assets/img/public/code.png" width="100" height="100">   
                	<i></i>
                </div>
            </span>
            <span class="ft-ico email">
            	<a href=""></a>
            </span>
        </div>
    </div>
</div>
<!--底部结束-->
<a class="to-top"></a>
</body>
</html>